# Export CSV File with the to_csv Method

In [5]:
import pandas as pd

In [6]:
%%html
<style>
 table.dataframe td,table.dataframe th{
     border:1px solid black;
     background-color:white;
 }
</style>

In [7]:
baby = pd.read_csv('https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv')

In [4]:
baby.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [15]:
# baby.to_csv('NYC_Baby_Names.csv',index=False)
baby.to_csv('NYC_Baby_Names.csv',columns=['Year of Birth','Gender','Child\'s First Name'],encoding = 'utf-8')