# Pass a URL to the pd.read_csv Method

In [2]:
import pandas as pd

In [12]:
%%html
<style>
 table.dataframe td,table.dataframe th{
     border:1px solid black;
     background-color:white;
 }
</style>

In [10]:
baby = pd.read_csv('https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv')

In [11]:
baby

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,HISPANIC,GERALDINE,13,75
1,2011,FEMALE,HISPANIC,GIA,21,67
2,2011,FEMALE,HISPANIC,GIANNA,49,42
3,2011,FEMALE,HISPANIC,GISELLE,38,51
4,2011,FEMALE,HISPANIC,GRACE,36,53
...,...,...,...,...,...,...
29459,2016,FEMALE,HISPANIC,Alayna,10,74
29460,2015,FEMALE,HISPANIC,Yaritza,12,79
29461,2015,MALE,WHITE NON HISPANIC,Mendel,42,64
29462,2016,MALE,ASIAN AND PACIFIC ISLANDER,Isaac,21,48
29463,2015,FEMALE,WHITE NON HISPANIC,Alessia,12,81