# The .join() Method

In [1]:
import pandas as pd

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
        font-size:13px;
        text-align:left;
        padding:5px;
        
    }
</style>

In [4]:
week1 = pd.read_csv('../Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Restaurant - Customers.csv')
food = pd.read_csv('../Restaurant - Foods.csv')
satisfaction = pd.read_csv('../Restaurant - Week 1 Satisfaction.csv')

In [5]:
satisfaction.head()

   Satisfaction Rating
0                    2
1                    7
2                    3
3                    7
4                   10

In [9]:
week1.merge(satisfaction,how='left',left_index=True,right_index=True).head()

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10

In [8]:
week1.join(satisfaction).head()

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10