In [1]:
import pandas as pd

In [13]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:0.3ch solid black;
        background-color:white;
        font-size:12px;
        text-align:left;
        
    }
</style>

In [20]:
week1 = pd.read_csv('../Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Restaurant - Customers.csv')
food = pd.read_csv('../Restaurant - Foods.csv')

In [17]:
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9