# Inner Joins, Part 1

In [4]:
import pandas as pd

In [37]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
        font-size:13px;
        text-align:left;
        padding:5px;
        
    }
</style>

In [33]:
week1 = pd.read_csv('../Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Restaurant - Customers.csv')
food = pd.read_csv('../Restaurant - Foods.csv')

In [31]:
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [8]:
week2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [22]:
#week1 -> base table/dataset
#right -> second/other table/dataset
#how -> type of join i.e. inner, outer, left, full 
#
week1.merge(right = week2,how='inner',on='Customer ID').head(4)

   Customer ID  Food ID_x  Food ID_y
0          537          9          5
1          155          9          3
2          155          1          3
3          503          5          8

In [25]:
week1[week1['Customer ID'] == 155]

    Customer ID  Food ID
4           155        9
17          155        1

In [26]:
week2[week2['Customer ID'] == 155]

     Customer ID  Food ID
208          155        3

In [38]:
week1.merge(right = week2,how='inner',on='Customer ID',suffixes=[' - Week 1',' - Week 2'])

    Customer ID  Food ID - Week 1  Food ID - Week 2
0           537                 9                 5
1           155                 9                 3
2           155                 1                 3
3           503                 5                 8
4           503                 5                 9
..          ...               ...               ...
57          945                 5                 4
58          343                 3                 5
59          343                 3                 2
60          343                 3                 7
61          621                 9                 6

[62 rows x 3 columns]