# The pd.concat() Method, Part 2

In [1]:
import pandas as pd

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:0.3ch solid black;
        background-color:white;
        font-size:12px;
        text-align:left;
        
    }
</style>

In [3]:
week1 = pd.read_csv('../Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Restaurant - Customers.csv')
food = pd.read_csv('../Restaurant - Foods.csv')

In [5]:
pd.concat(objs=[week1,week2],ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
..           ...      ...
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

In [9]:
sales = pd.concat(objs=[week1,week2],keys = ['week1','week2'])

In [11]:
sales.head(5)

         Customer ID  Food ID
week1 0          537        9
      1           97        4
      2          658        1
      3          202        2
      4          155        9

In [27]:
sales.loc[('week1',)]
sales.loc[('week2',)]
sales.loc[('week1',19)]
sales.loc[('week2',240)]

sales.loc[('week2',23),'Customer ID']
sales.loc[('week2',23),['Customer ID','Food ID']]

sales.loc[('week2',23):('week1',43):-1]
sales.loc[('week1',23):('week1',32)]
sales.loc[('week1',23):('week1',12):-1]

          Customer ID  Food ID
week1 23          514        5
      22           78        7
      21           75        6
      20          549        6
      19          101        7
      18          550        6
      17          155        1
      16          147        9
      15          954        2
      14          149        4
      13          288        2
      12          641        4