# Inner Joins, Part 2

In [1]:
import pandas as pd

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
        font-size:13px;
        text-align:left;
        padding:5px;
        
    }
</style>

In [3]:
week1 = pd.read_csv('../Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('../Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('../Restaurant - Customers.csv')
food = pd.read_csv('../Restaurant - Foods.csv')

In [4]:
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [5]:
week2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [13]:
week1.merge(right=week2,how='inner',on=['Food ID'])
week1.merge(right=week2,how='inner',on=['Customer ID','Food ID'])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [16]:
week1[week1['Customer ID']== 21]
week1[week1['Customer ID']== 578]

     Customer ID  Food ID
224          578        5

In [17]:
week2[week2['Customer ID']== 21]
week2[week2['Customer ID']== 578]

     Customer ID  Food ID
29           578        5
189          578        5