In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    table.dataframe th,table.dataframe td
        {
            background-color:white;
            border:1px solid black;
        }
</style>

In [10]:
fortune = pd.read_csv('../fortune1000.csv' ,index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [11]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [12]:
type(fortune)

pandas.core.frame.DataFrame