# Split Strings by Characters with .str().split() Method

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    table.dataframe th,table.dataframe td{
        border:1.5px solid black;
        text-align:left;
        background-color:white;
        color:black;
    }
table.dataframe td
    {
        font-weight:500;
    }
</style>

In [27]:
chicago = pd.read_csv('../chicago.csv').dropna(how='all')
chicago['Department'] = chicago['Department'].astype('category')
chicago.tail(3)

,Name,Position Title,Department,Employee Annual Salary
32059,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$84450.00
32060,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$87384.00
32061,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$113664.00

In [28]:
'Hello my name is Somil'.split(' ')

['Hello', 'my', 'name', 'is', 'Somil']

In [35]:
chicago['Name'].str.split(',').str.get(0).str.title().value_counts()

Williams        293
Johnson         244
Smith           241
Brown           185
Jones           183
               ...
Ternand           1
Clay Glanton      1
Coan              1
Teemer            1
Dulmage           1
Name: Name, Length: 13829, dtype: int64

In [45]:
chicago['Position Title'].str.split(" ").str.get(0).str.title().value_counts()

Police             10856
Firefighter-Emt     1509
Sergeant            1186
Pool                 918
Firefighter          810
                   ...
Leasing                1
Comm                   1
Employee               1
Supt                   1
Index                  1
Name: Position Title, Length: 320, dtype: int64