# The transpose Method

In [5]:
import pandas as pd

In [7]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        background-color:white;
        border:1px solid black;
    }
</style>

In [27]:
bigmac = pd.read_csv('../bigmac.csv',parse_dates=['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [28]:
bigmac = bigmac.transpose()

In [29]:
bigmac.head()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [31]:
bigmac.loc[('Price in US Dollars',)]

Date        Country
2010-01-01  Argentina        1.84
            Australia        3.98
            Brazil           4.76
            Britain          3.67
            Canada           3.97
                             ...
2016-01-01  Ukraine          1.54
            United States    4.93
            Uruguay          3.74
            Venezuela        0.66
            Vietnam          2.67
Name: Price in US Dollars, Length: 652, dtype: float64

In [50]:
bigmac.loc[('Price in US Dollars',),('2010-01-01','Argentina'):('2010-01-01','Costarica')]

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date
Country             Colombia Costa Rica
Price in US Dollars     3.91       3.52

In [51]:
bigmac.loc[('Price in US Dollars',),('2010-01-01','Argentina'):('2015-01-01','India')]

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ... 2015-01-01  \
Country             Colombia Costa Rica Czech Republic  ...      Egypt
Price in US Dollars     3.91       3.52           3.71  ...        2.3

Date                                                                           \
Country             Estonia Euro area Finland France Germany Greece Hong Kong
Price in US Dollars    3.36      4.26    4.75   4.52    4.25   3.53      2.43

Date
Country             Hungary India
Price in US Dollars    3.17  1.89

[1 rows x 507 columns]