# Change Index Level Name with the set_names Method

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }
</style>

In [9]:
bigmac = pd.read_csv('../bigmac.csv',parse_dates=['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [22]:
bigmac.index.set_names(names=['Day','Location'],inplace=True)

In [23]:
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [27]:
bigmac.index.set_names(names="Date",level=0,inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [28]:
bigmac.index.set_names(names=["Date","Country"],level=["Day","Location"],inplace=True)

KeyError: 'Level Day not found'

In [26]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97