# The .unstack() Method, Part 1

In [16]:
import pandas as pd

In [17]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        background-color:white;
        border:1px solid black;
    }
</style>

In [18]:
world = pd.read_csv('../worldstats.csv',index_col=['country','year'])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [19]:
s = world.stack()
s.head()

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
dtype: float64

In [21]:
s.unstack().unstack().unstack()

            year  country
Population  1960  Afghanistan           8.994793e+06
                  Albania                        NaN
                  Algeria               1.112489e+07
                  Andorra                        NaN
                  Angola                         NaN
                                            ...
GDP         2015  West Bank and Gaza    1.267740e+10
                  World                 7.343364e+13
                  Yemen, Rep.                    NaN
                  Zambia                2.120156e+10
                  Zimbabwe              1.389294e+10
Length: 28224, dtype: float64