#   The .swaplevel() Method

In [1]:
import pandas as pd

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        background-color:white;
        border:1px solid black;
    }
</style>

In [13]:
bigmac = pd.read_csv('../bigmac.csv',parse_dates=['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [17]:
bigmac.swaplevel()
bigmac.swaplevel('Date','Country')
bigmac.swaplevel('Country','Date')
bigmac.swaplevel(0,1)
bigmac = bigmac.swaplevel(1,0)

In [18]:
bigmac

                          Price in US Dollars
Country       Date
Argentina     2010-01-01                 1.84
Australia     2010-01-01                 3.98
Brazil        2010-01-01                 4.76
Britain       2010-01-01                 3.67
Canada        2010-01-01                 3.97
...                                       ...
Ukraine       2016-01-01                 1.54
United States 2016-01-01                 4.93
Uruguay       2016-01-01                 3.74
Venezuela     2016-01-01                 0.66
Vietnam       2016-01-01                 2.67

[652 rows x 1 columns]