# The .unique() & .nunique() Methods

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:White;
    }
</style>

In [3]:
foods = pd.read_csv('../foods.csv')
foods

    First Name  Gender          City Frequency       Item  Spend
0        Wanda  Female      Stamford    Weekly     Burger  15.66
1         Eric    Male      Stamford     Daily    Chalupa  10.56
2      Charles    Male      New York     Never      Sushi  42.14
3         Anna  Female  Philadelphia      Once  Ice Cream  11.01
4      Deborah  Female  Philadelphia     Daily    Chalupa  23.49
..         ...     ...           ...       ...        ...    ...
995      Donna  Female      New York   Monthly      Sushi  83.53
996     Albert    Male  Philadelphia     Daily      Sushi  72.88
997       Jean  Female      Stamford    Weekly      Donut   5.85
998    Jessica  Female      New York     Daily    Chalupa  43.19
999      Brian    Male      New York     Daily    Chalupa  28.36

[1000 rows x 6 columns]

In [4]:
foods['Item'] = foods['Item'].astype('category')
foods['Gender'] = foods['Gender'].astype('category')
foods['City'] = foods['City'].astype('category')
foods['Frequency'] = foods['Frequency'].astype('category')
foods.sort_values(by='First Name',inplace=True)

In [5]:
foods.head()

    First Name Gender          City Frequency       Item  Spend
206      Aaron   Male  Philadelphia      Once    Chalupa  51.43
136      Aaron   Male  Philadelphia    Weekly  Ice Cream  89.85
171      Aaron   Male      New York     Never      Donut  48.00
252      Aaron   Male      Stamford     Never    Burrito  95.07
717       Adam   Male      Stamford      Once    Burrito   5.28

In [16]:
foods['Frequency'].unique()
foods['Item'].unique()

['Chalupa', 'Ice Cream', 'Donut', 'Burrito', 'Burger', 'Sushi']
Categories (6, object): ['Chalupa', 'Ice Cream', 'Donut', 'Burrito', 'Burger', 'Sushi']

In [13]:
len(foods['First Name'].unique())

198

In [18]:
foods['Item'].nunique(dropna=True)
#dropna=True for droping the NaN last column

6