# Filter a Dataframe based on a condition

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
table.dataframe th,table.dataframe td{
    border:1px solid black;
    background-color:white;
}
</style>

In [3]:
pd.set_option('display.max_row',None)

In [4]:
df = pd.read_csv('../employees.csv')
df.head(4)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance

In [35]:
df['Gender'] = df['Gender'].astype('category')
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['Team'] = df['Team'].astype('category')
df['Senior Management'] = df['Senior Management'].astype('bool')
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,4:47 PM,101004,1.389,True,Client Services

In [8]:
df[df['Gender'] == 'Male']

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources
13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales
16,Jeremy,Male,9/21/2010,5:56 AM,90370,7.369,False,Human Resources
17,Shawn,Male,12/7/1986,7:45 PM,111737,6.414,False,Product
21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing
23,NaN,Male,6/14/2012,4:19 PM,125792,5.042,True,NaN
24,John,Male,7/1/1992,10:08 PM,97950,13.873,False,Client Services
25,NaN,Male,10/8/2012,1:12 AM,37076,18.576,True,Client Services
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing
28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services
29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal
32,NaN,Male,8/21/1998,2:27 PM,122340,6.417,True,NaN
34,Jerry,Male,1/10/2004,12:56 PM,95734,19.096,False,Client Services
39,NaN,Male,1/29/2016,2:33 AM,122173,7.797,True,Client Services
40,Michael,Male,10/10/2008,11:25 AM,99283,2.665,True,Distribution
45,Roger,Male,4/17/1980,11:32 AM,88010,13.886,True,Sales
46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance
48,Clarence,Male,3/26/1996,5:57 AM,93581,6.083,True,Business Development
52,Todd,Male,2/18/1990,2:41 AM,49339,1.695,True,Human Resources
56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance
57,Henry,Male,6/26/1996,1:44 AM,64715,15.107,True,Human Resources
63,Matthew,Male,1/2/2013,10:33 PM,35203,18.040,False,Human Resources
65,Steve,Male,11/11/2009,11:44 PM,61310,12.428,True,Distribution
68,Jose,Male,10/30/2004,1:39 PM,84834,14.330,True,Finance
71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales
72,Bobby,Male,5/7/2007,10:01 AM,54043,3.833,False,Product
74,Thomas,Male,6/4/1995,2:24 PM,62096,17.029,False,Marketing
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
81,Christopher,Male,3/30/2008,10:52 AM,47369,14.822,False,Legal
82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services
83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance
85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services
94,Harry,Male,8/26/1981,3:16 PM,130620,7.030,False,Legal
99,Harold,Male,1/2/1985,9:40 PM,77544,12.447,False,Business Development
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
102,Jack,Male,1/12/1997,5:51 AM,103902,12.159,False,Client Services
104,John,Male,12/23/1989,7:01 AM,80740,19.305,False,Marketing
106,Paul,Male,8/4/1993,7:25 PM,42146,3.046,False,Legal
107,Steven,Male,4/23/2013,10:12 PM,68680,16.565,False,Legal
109,Christopher,Male,4/22/2000,10:15 AM,37919,11.449,False,NaN
112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing
116,NaN,Male,6/22/1991,8:58 PM,76189,18.988,True,Legal
117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance
119,Paul,Male,6/3/2008,3:05 PM,41054,12.299,False,Marketing
120,Peter,Male,11/17/1994,6:15 PM,84885,15.402,False,Business Development
127,William,Male,9/29/2002,4:09 PM,66521,5.830,False,Human Resources
128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services
129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development
132,Carlos,Male,1/4/1995,7:02 AM,146670,10.763,False,Human Resources
136,Henry,Male,4/24/1995,4:18 AM,43542,19.687,False,Legal
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product
147,Philip,Male,7/17/2008,1:30 PM,89227,3.996,False,Legal
150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing
156,Howard,Male,4/27/1992,1:10 AM,105062,1.563,False,Human Resources
162,Arthur,Male,4/13/1998,11:28 AM,89786,14.422,True,Legal
163,Terry,Male,9/3/1990,9:15 PM,52226,19.135,False,Client Services
167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales
171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
176,Victor,Male,1/8/2003,1:02 PM,124486,10.166,False,Product
177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution
180,Mark,Male,4/12/2008,5:40 PM,57286,5.025,True,Business Development
181,Randy,Male,11/14/1999,12:12 PM,58129,1.952,True,Distribution
184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services
187,Roger,Male,11/19/2004,3:55 PM,51430,6.460,False,Marketing
188,Charles,Male,10/14/2000,9:40 PM,71749,15.931,False,Legal
189,Clarence,Male,5/2/1998,3:16 AM,85700,1.215,False,Sales
195,Ronald,Male,4/30/2014,2:19 PM,121068,12.757,True,Product
196,Steven,Male,11/10/1985,10:53 AM,62719,19.127,False,Client Services
199,Jonathan,Male,7/17/2009,8:15 AM,130581,16.736,True,NaN
200,Gary,Male,8/12/1987,12:04 AM,89661,8.525,False,Finance
202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales
204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing
205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance
208,Jonathan,Male,10/12/1987,2:59 AM,141069,4.903,False,Human Resources
216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing
217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services
219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance
221,Gregory,Male,1/29/2000,6:01 AM,109564,3.845,False,Legal
222,Jason,Male,10/17/1999,10:09 PM,78417,3.067,False,Finance
223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal
225,Harry,Male,10/1/2015,7:47 PM,64579,15.266,True,Sales
227,Todd,Male,4/13/1999,10:31 AM,59728,11.226,True,Client Services
228,Bobby,Male,9/23/1994,1:29 AM,51685,17.445,True,Engineering
229,Jeremy,Male,6/8/2000,12:15 AM,49542,1.679,True,Distribution
238,Kevin,Male,3/25/1982,7:31 AM,35061,5.128,False,Legal
241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance
242,Robert,Male,10/27/1990,7:15 PM,38041,18.428,True,Engineering
243,Jimmy,Male,10/7/1986,5:53 PM,126310,5.413,True,Product
244,Clarence,Male,10/8/1996,12:53 PM,142561,8.866,False,Client Services
245,Victor,Male,4/11/1991,7:44 AM,70817,17.138,False,Engineering
248,Justin,Male,12/6/1992,5:58 PM,82782,4.366,True,Distribution
252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing
254,Edward,Male,5/27/1985,10:13 PM,110485,7.995,False,Client Services
257,NaN,Male,11/25/1999,6:16 AM,42676,15.517,True,Sales
258,Michael,Male,1/24/2002,3:04 AM,43586,12.659,False,NaN
259,Henry,Male,2/6/1995,8:34 AM,89258,15.585,True,Human Resources
265,Roy,Male,9/23/2004,1:31 PM,101941,3.450,False,Client Services
267,NaN,Male,2/4/2005,1:01 PM,40451,16.044,True,Distribution
270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources
272,Fred,Male,2/20/1980,2:25 AM,74129,18.225,False,Product
273,Nicholas,Male,4/12/1994,8:21 PM,74669,1.113,True,Product
274,Howard,Male,10/5/1982,7:22 AM,97490,5.460,True,Marketing
280,Kevin,Male,7/12/1997,2:07 AM,46080,9.635,False,Business Development
281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources
283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering
286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance
290,Jeremy,Male,6/14/1988,6:20 PM,129460,13.657,True,NaN
293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing
295,Jesse,Male,3/2/1981,7:26 PM,79582,3.873,False,Legal
297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
301,James,Male,7/11/2015,8:52 PM,72257,13.023,False,Engineering
302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources
304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance
306,Mark,Male,4/1/1984,1:21 PM,121477,17.440,True,Business Development
309,Benjamin,Male,9/11/1984,6:37 AM,84810,15.794,False,Marketing
310,Harold,Male,2/20/1990,11:00 PM,66775,2.158,True,Legal
312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales
314,Bobby,Male,3/31/1996,5:40 PM,112117,6.338,False,NaN
318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance
322,Douglas,Male,1/8/2002,6:42 PM,41428,14.372,False,Product
325,Russell,Male,1/2/2005,1:48 AM,60388,17.885,False,Client Services
326,Jeffrey,Male,6/18/1997,8:01 PM,45150,12.075,True,Product
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance
329,NaN,Male,1/27/2010,2:57 AM,87760,14.987,True,Engineering
330,Randy,Male,3/16/2014,6:24 PM,135119,7.887,False,Client Services
332,Fred,Male,2/13/1987,2:15 PM,121723,18.645,True,Product
334,Todd,Male,5/23/2011,4:14 PM,85074,1.844,False,Client Services
335,Robert,Male,11/18/2014,5:00 AM,85799,19.930,False,Finance
336,Mark,Male,1/22/2007,2:37 PM,75150,12.182,True,Legal
337,Earl,Male,1/5/2000,5:46 PM,91344,4.035,True,Sales
338,Richard,Male,9/27/2005,1:41 AM,86326,10.717,False,Product
339,Michael,Male,11/22/1991,12:57 PM,98753,16.443,True,Human Resources
340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales
341,Carlos,Male,9/19/2007,1:01 AM,77327,11.580,True,Finance
343,Ronald,Male,2/24/2009,2:09 PM,96633,4.990,True,Engineering
344,Scott,Male,5/12/2009,4:36 AM,58248,3.914,False,Business Development
345,Steven,Male,11/21/2006,8:30 AM,83706,6.960,True,Human Resources
346,James,Male,11/22/1998,3:48 AM,74086,5.778,True,Human Resources
348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance
352,NaN,Male,10/9/2011,9:29 AM,69906,4.844,True,Engineering
353,NaN,Male,4/22/1997,9:36 PM,65078,3.095,True,Marketing
357,Russell,Male,8/13/2014,3:51 PM,121160,7.843,False,Engineering
358,Scott,Male,12/17/2011,3:45 AM,90429,4.450,False,Product
362,Joshua,Male,11/9/2009,6:32 AM,72893,9.555,False,Distribution
364,Juan,Male,4/16/2002,11:09 PM,97364,3.595,False,Product
367,Edward,Male,8/4/1989,6:06 AM,66067,10.957,True,NaN
371,Larry,Male,8/27/2003,1:00 PM,91133,5.140,False,Sales
372,Albert,Male,2/1/1997,4:20 PM,67827,19.717,True,Engineering
373,Kenneth,Male,4/13/1999,10:28 PM,81839,12.072,False,Sales
376,Brandon,Male,10/16/2015,2:44 AM,112548,4.664,False,Engineering
377,Stephen,Male,4/9/1987,12:47 PM,111249,10.574,True,Human Resources
378,Russell,Male,10/30/1994,5:46 AM,114334,9.669,False,Product
381,Scott,Male,8/3/1996,1:50 AM,64172,10.894,True,Engineering
383,Carlos,Male,7/28/2010,3:08 PM,50167,2.362,False,Product
384,Jack,Male,12/24/1980,10:58 PM,106995,15.723,False,Product
387,Robert,Male,10/29/1994,4:26 AM,123294,19.894,False,Client Services
392,Ralph,Male,10/27/2010,10:28 AM,106310,4.030,True,Client Services
397,Clarence,Male,1/13/2005,9:00 AM,116693,13.835,True,Distribution
403,Craig,Male,2/8/1984,4:45 AM,113506,19.642,False,Marketing
408,Joe,Male,12/5/2010,4:20 PM,144082,1.620,True,Client Services
409,Jeremy,Male,5/29/1994,6:24 AM,47885,19.276,True,Human Resources
410,Ernest,Male,8/14/2012,11:25 AM,126232,6.191,True,Sales
411,Kevin,Male,6/23/1981,8:26 PM,134598,11.699,False,Business Development
413,Johnny,Male,9/14/1992,8:21 AM,115194,5.861,True,Marketing
414,Gary,Male,8/18/2011,8:12 AM,49101,11.900,True,Business Development
416,NaN,Male,6/29/2008,5:23 AM,111043,5.966,True,Distribution
420,Justin,Male,5/22/1986,6:30 AM,121508,19.334,True,Finance
421,Kevin,Male,11/20/1986,6:59 PM,79906,18.021,True,Sales
422,Victor,Male,9/24/2005,12:04 PM,123144,16.261,True,Product
426,Todd,Male,3/16/2016,2:45 PM,134408,3.560,True,Human Resources
427,Frank,Male,1/10/1981,1:30 PM,71853,8.037,True,Sales
428,Christopher,Male,5/13/1999,10:48 AM,68028,7.869,True,Finance
431,Charles,Male,12/16/1999,8:28 PM,104014,7.077,False,Legal
435,Billy,Male,12/1/2006,3:32 PM,144709,10.069,True,Distribution
438,Jason,Male,11/20/1998,2:54 PM,69244,6.220,True,NaN
439,Nicholas,Male,3/1/2013,9:26 PM,101036,2.826,True,Human Resources
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
444,NaN,Male,5/24/2016,9:17 PM,76409,7.008,True,Distribution
445,Chris,Male,12/12/2006,1:57 AM,71642,1.496,False,NaN
447,Gregory,Male,5/15/2009,3:52 PM,142208,11.204,True,Engineering
448,Wayne,Male,1/30/1992,3:01 PM,81183,17.066,False,Client Services
450,Willie,Male,8/22/2009,1:03 PM,55038,19.691,False,Legal
452,Scott,Male,11/17/2012,2:47 PM,146812,1.965,True,Marketing
454,NaN,Male,2/21/1995,12:26 AM,136602,10.429,True,Marketing
458,Albert,Male,9/30/2007,5:34 PM,102626,15.843,False,Finance
461,Jeremy,Male,8/9/2001,3:56 AM,43354,13.946,False,Marketing
462,Craig,Male,4/14/1996,9:17 AM,125556,7.996,False,Engineering
463,Jose,Male,7/11/2002,9:15 AM,59862,3.269,False,Product
464,Lawrence,Male,5/13/2005,1:25 AM,74640,18.641,False,Marketing
466,Walter,Male,8/4/2007,1:59 PM,58789,5.461,False,Sales
469,Stephen,Male,5/9/2015,7:07 PM,141958,9.078,True,Legal
470,Ryan,Male,7/20/1993,10:18 PM,139917,11.466,False,Distribution
472,Joshua,Male,7/10/1984,7:22 PM,68230,8.047,False,Client Services
473,Clarence,Male,8/20/1992,8:23 PM,124365,8.457,False,Business Development
474,Jonathan,Male,8/15/2002,12:01 AM,104749,11.364,False,Engineering
477,Albert,Male,8/14/2008,5:43 PM,137840,9.705,False,Business Development
478,Michael,Male,5/22/2011,10:42 AM,73354,18.357,False,Business Development
479,Richard,Male,7/4/1997,11:47 AM,47647,18.787,True,NaN
484,Joe,Male,4/14/2000,3:14 PM,50645,11.119,False,Marketing
486,Howard,Male,4/9/2012,6:36 AM,37984,2.021,False,Distribution
488,Robert,Male,3/11/2007,11:20 AM,135882,19.944,False,Legal
492,Jerry,Male,1/30/1995,7:51 PM,121357,18.845,False,Business Development
493,Craig,Male,11/1/2005,11:31 PM,44857,13.266,False,Finance
495,Eugene,Male,5/24/1984,10:54 AM,81077,2.117,False,Sales
496,Johnny,Male,2/26/2016,7:39 PM,76394,5.437,True,Marketing
497,Benjamin,Male,5/5/2013,3:28 PM,114356,7.123,False,Client Services
501,Sean,Male,2/11/2013,7:07 PM,42748,9.765,False,Distribution
503,Roger,Male,8/3/2015,4:56 PM,125033,4.887,True,Marketing
505,NaN,Male,4/20/1980,1:17 PM,71520,13.248,True,Engineering
506,Donald,Male,7/14/1995,7:51 AM,106472,6.499,True,Client Services
507,Clarence,Male,11/3/2015,12:11 AM,103684,18.654,True,Engineering
508,Scott,Male,11/23/1996,7:36 PM,96111,15.592,False,Human Resources
510,Frank,Male,4/27/2003,12:04 PM,140303,17.070,False,Legal
511,Joe,Male,7/4/1983,7:32 AM,62161,8.130,True,Business Development
513,Jimmy,Male,11/19/2013,7:29 PM,63549,19.624,False,NaN
515,Larry,Male,1/8/1999,2:05 AM,97370,10.458,False,Sales
519,Raymond,Male,2/16/2009,10:38 PM,37812,3.178,False,Human Resources
520,Peter,Male,2/22/2003,9:09 AM,56580,8.411,True,NaN
525,Steve,Male,8/22/1995,6:58 AM,67780,9.540,True,Human Resources
529,Christopher,Male,4/23/2014,7:52 AM,82401,7.252,False,Client Services
533,Earl,Male,2/11/2014,9:03 PM,52620,13.773,False,Product
536,Clarence,Male,8/26/1982,9:47 AM,146589,4.905,True,Business Development
538,Adam,Male,10/8/2010,9:53 PM,45181,3.491,False,Human Resources
539,Justin,Male,9/6/1999,10:30 AM,62454,3.459,True,Sales
544,Roger,Male,7/3/2010,5:11 PM,105689,13.320,True,Marketing
546,Joseph,Male,9/10/1992,6:50 PM,102555,3.672,True,Product
550,Gregory,Male,6/18/1984,3:46 AM,82726,16.304,True,Marketing
551,Philip,Male,7/18/1985,6:36 AM,122319,19.122,False,Engineering
556,Arthur,Male,12/16/2014,4:56 PM,66819,6.639,True,Marketing
560,Shawn,Male,12/3/2009,10:24 AM,96610,2.097,True,Client Services
563,Randy,Male,5/2/2002,7:39 PM,86723,14.842,False,Engineering
564,Andrew,Male,3/29/1985,6:57 PM,43414,7.563,True,Client Services
566,Johnny,Male,1/8/1995,1:35 PM,91124,12.986,True,Distribution
571,Jonathan,Male,4/6/1995,10:38 PM,56993,18.623,False,Marketing
572,Raymond,Male,1/13/1996,4:14 PM,114244,16.690,False,Human Resources
575,John,Male,1/22/1995,12:17 AM,66077,5.809,True,Product
576,Michael,Male,7/30/1993,5:35 PM,35013,14.879,False,Product
577,Jerry,Male,5/4/2003,4:29 AM,98393,11.393,False,Client Services
579,Harold,Male,10/18/2010,8:45 PM,65673,1.187,True,Legal
580,Harry,Male,1/27/1985,8:18 PM,65482,18.089,False,NaN
581,Ernest,Male,1/28/1990,12:08 AM,81919,15.118,False,Marketing
582,Harry,Male,11/19/1982,11:25 AM,59277,10.200,False,Finance
584,Jack,Male,5/30/2012,3:17 AM,70367,18.266,True,Legal
592,Justin,Male,5/24/1981,11:15 PM,78351,15.221,False,Sales
594,Louis,Male,4/15/2011,5:02 AM,95198,2.075,False,Business Development
596,Mark,Male,10/3/1984,5:31 AM,95728,6.752,True,Business Development
604,Bruce,Male,3/15/2013,11:13 PM,141335,15.427,True,Engineering
607,NaN,Male,10/13/1983,11:59 PM,139754,12.740,True,Sales
609,Todd,Male,2/16/2010,11:29 AM,103405,15.910,False,Sales
610,Alan,Male,2/17/2012,12:26 AM,41453,10.084,False,Product
614,Eric,Male,11/12/2004,9:16 PM,65168,11.513,False,Distribution
615,Edward,Male,8/30/2001,1:24 AM,73105,6.083,True,Engineering
618,Peter,Male,11/24/1992,5:43 PM,69297,1.268,False,Finance
620,Ralph,Male,3/7/2012,2:25 AM,81215,8.400,False,Finance
621,Justin,Male,8/10/1997,11:00 PM,128036,18.824,False,Client Services
624,Jeremy,Male,11/26/1997,8:22 AM,133033,12.200,False,Sales
630,Michael,Male,7/13/1988,1:48 PM,47079,2.617,False,Legal
634,Carl,Male,3/30/1987,5:59 PM,75598,19.289,False,NaN
635,Randy,Male,9/27/2000,3:04 AM,89831,13.047,True,NaN
637,Wayne,Male,9/2/2009,1:37 AM,126956,18.396,False,Human Resources
643,Shawn,Male,9/29/1987,10:11 PM,71975,9.770,False,Human Resources
647,Donald,Male,4/6/1988,10:00 AM,122920,5.320,False,NaN
648,Gregory,Male,11/15/1999,5:22 PM,128031,15.857,True,Business Development
652,Willie,Male,12/5/2009,5:39 AM,141932,1.017,True,Engineering
654,Carl,Male,12/14/1984,8:49 PM,63395,11.411,False,Legal
655,Walter,Male,9/24/2007,11:16 PM,125382,13.613,True,Client Services
661,Craig,Male,8/21/1995,2:38 AM,123876,4.225,False,Engineering
664,Timothy,Male,10/6/2010,10:49 PM,49473,12.463,False,Legal
665,Anthony,Male,2/13/2013,1:35 PM,146141,3.645,True,Distribution
668,James,Male,12/5/2001,7:06 AM,67789,17.105,True,Legal
672,Robert,Male,11/5/1982,12:41 PM,111580,10.982,False,Human Resources
673,Ralph,Male,3/24/1996,11:54 AM,50455,16.248,False,Business Development
674,NaN,Male,8/28/2012,7:56 PM,88733,1.932,True,Human Resources
680,Albert,Male,6/17/1992,3:25 AM,86818,14.301,True,Engineering
681,Frank,Male,11/23/2002,6:10 PM,75147,17.398,False,Product
685,NaN,Male,10/20/1989,9:37 AM,88086,19.387,True,Finance
687,NaN,Male,12/27/1996,7:07 AM,139959,8.992,True,Distribution
688,Brian,Male,4/7/2007,10:47 PM,93901,17.821,True,Legal
690,Bruce,Male,1/28/2007,11:10 PM,134988,13.926,True,Sales
692,Harold,Male,5/15/2007,6:37 PM,118753,8.162,False,Sales
696,Samuel,Male,5/25/2012,4:40 PM,85550,11.593,True,Marketing
697,NaN,Male,5/23/1990,2:09 AM,136655,9.801,True,Distribution
700,Frank,Male,3/2/2009,9:15 PM,78891,7.927,True,Distribution
704,Thomas,Male,9/7/1991,9:51 AM,65251,11.211,False,Distribution
705,Harry,Male,9/23/2015,1:36 AM,129148,15.193,True,Engineering
706,Todd,Male,7/4/1993,6:53 PM,128175,18.473,True,NaN
708,Steve,Male,1/11/2002,9:17 PM,51821,1.197,True,Legal
709,NaN,Male,4/7/1995,4:32 AM,60411,12.048,True,Human Resources
710,Edward,Male,11/27/1997,1:00 AM,58327,17.095,True,Finance
714,Jonathan,Male,7/30/1984,6:02 PM,83809,12.922,False,Distribution
715,Peter,Male,3/22/1982,7:28 AM,77933,13.132,True,Engineering
716,Eric,Male,6/15/1993,3:56 AM,51070,13.806,True,Business Development
718,Terry,Male,10/21/2010,11:18 PM,58357,7.969,False,Engineering
719,John,Male,1/29/1999,3:07 AM,67165,13.001,False,Engineering
721,Harold,Male,4/16/2010,5:13 AM,147417,11.626,True,Business Development
722,Joshua,Male,6/27/1997,3:23 PM,95003,5.197,True,Marketing
725,Jeremy,Male,5/19/1991,1:40 PM,131513,1.876,True,Finance
726,Daniel,Male,2/29/2016,4:04 AM,77287,13.000,True,NaN
727,Roy,Male,5/10/2004,1:22 PM,46875,12.942,True,Sales
729,Steven,Male,9/7/1986,12:32 AM,43252,18.892,False,Client Services
732,Henry,Male,5/12/1986,2:04 AM,59943,1.432,False,Finance
733,NaN,Male,6/17/2009,1:00 PM,136681,3.655,True,Business Development
737,Lawrence,Male,7/23/2011,3:41 AM,122971,14.618,False,Product
738,Joseph,Male,10/10/2010,11:12 PM,107050,12.737,False,Business Development
739,Carlos,Male,1/25/1981,10:00 AM,138598,14.737,False,Sales
742,Martin,Male,2/25/2016,6:29 PM,61117,2.844,False,Client Services

In [9]:
df[df['Team'] =='Finance']

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,True,Finance
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance
46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance
67,Rachel,Female,8/16/1999,6:53 AM,51178,9.735,True,Finance
68,Jose,Male,10/30/2004,1:39 PM,84834,14.330,True,Finance
69,Irene,NaN,7/14/2015,4:31 PM,100863,4.382,True,Finance
83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance
84,Doris,Female,8/20/2004,5:51 AM,83072,7.511,False,Finance
96,Cynthia,Female,3/21/1994,8:34 AM,142321,1.737,False,Finance
100,Melissa,Female,6/21/2005,6:33 AM,48109,14.995,False,Finance
103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance
105,Kathy,Female,3/9/1996,4:33 AM,91712,8.567,False,Finance
117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance
142,Elizabeth,Female,10/9/2003,5:53 PM,146129,5.687,False,Finance
153,Victor,NaN,3/10/2011,8:40 PM,84546,10.489,True,Finance
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance
172,Sara,Female,9/23/1991,6:17 PM,97058,9.402,False,Finance
179,Jessica,Female,10/23/1995,5:53 AM,68759,19.343,True,Finance
190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance
200,Gary,Male,8/12/1987,12:04 AM,89661,8.525,False,Finance
205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance
218,Gregory,NaN,6/15/1992,5:08 AM,98865,10.628,True,Finance
219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance
222,Jason,Male,10/17/1999,10:09 PM,78417,3.067,False,Finance
226,Kathy,Female,4/19/1995,12:46 AM,50905,9.404,True,Finance
241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance
268,Irene,Female,3/3/1982,8:26 AM,56526,5.810,True,Finance
276,Christine,Female,7/3/1989,4:01 AM,94345,11.996,False,Finance
286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance
304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance
311,Ernest,NaN,1/18/2002,1:51 AM,72145,13.448,True,Finance
318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance
328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance
335,Robert,Male,11/18/2014,5:00 AM,85799,19.930,False,Finance
341,Carlos,Male,9/19/2007,1:01 AM,77327,11.580,True,Finance
348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance
363,Justin,NaN,4/15/2005,8:43 PM,96978,13.865,False,Finance
399,Kathryn,Female,6/9/1988,9:29 AM,86439,7.799,False,Finance
405,Sharon,Female,3/9/2014,4:39 PM,91522,7.564,False,Finance
415,Shirley,NaN,11/16/1990,6:01 PM,67811,12.699,False,Finance
418,Julia,Female,3/2/1982,12:52 PM,36403,2.664,True,Finance
420,Justin,Male,5/22/1986,6:30 AM,121508,19.334,True,Finance
425,Alice,Female,5/2/1986,1:50 AM,51395,2.378,True,Finance
428,Christopher,Male,5/13/1999,10:48 AM,68028,7.869,True,Finance
436,Kathryn,Female,8/29/2007,6:10 AM,53061,11.864,True,Finance
442,Julie,Female,4/23/1998,5:52 AM,73437,2.518,True,Finance
458,Albert,Male,9/30/2007,5:34 PM,102626,15.843,False,Finance
485,Ashley,Female,8/15/1997,9:48 PM,142415,1.985,True,Finance
493,Craig,Male,11/1/2005,11:31 PM,44857,13.266,False,Finance
526,Barbara,Female,3/22/2004,8:11 AM,144677,8.696,False,Finance
540,NaN,Female,12/2/2009,3:30 AM,84746,4.820,True,Finance
547,Evelyn,Female,9/22/1998,7:55 PM,51525,10.366,False,Finance
549,Sara,Female,2/25/1980,10:50 PM,75484,3.186,False,Finance
582,Harry,Male,11/19/1982,11:25 AM,59277,10.200,False,Finance
595,Nancy,Female,5/7/1985,10:20 PM,121006,3.512,True,Finance
613,Teresa,NaN,1/3/1992,3:47 PM,63103,11.378,False,Finance
618,Peter,Male,11/24/1992,5:43 PM,69297,1.268,False,Finance
620,Ralph,Male,3/7/2012,2:25 AM,81215,8.400,False,Finance
642,Amanda,NaN,3/16/2010,9:17 AM,135118,15.108,False,Finance
644,Katherine,Female,8/13/1996,12:21 AM,149908,18.912,False,Finance
646,Elizabeth,Female,2/21/2010,7:02 AM,79145,19.780,False,Finance
649,Ruth,Female,2/17/2004,5:38 AM,59969,14.064,True,Finance
650,Cynthia,Female,7/5/1986,1:24 AM,35381,11.749,False,Finance
685,NaN,Male,10/20/1989,9:37 AM,88086,19.387,True,Finance
686,Paul,NaN,2/18/2011,12:23 PM,91462,18.704,False,Finance
689,Julie,NaN,5/8/1980,6:31 AM,50529,17.263,False,Finance
691,Joan,Female,10/2/2007,2:53 AM,120941,3.694,True,Finance
702,Debra,Female,3/17/2011,1:12 PM,84693,6.976,True,Finance
710,Edward,Male,11/27/1997,1:00 AM,58327,17.095,True,Finance
725,Jeremy,Male,5/19/1991,1:40 PM,131513,1.876,True,Finance
731,Ann,Female,7/16/2001,9:27 AM,118431,12.772,True,Finance
732,Henry,Male,5/12/1986,2:04 AM,59943,1.432,False,Finance
744,Judy,NaN,7/15/2011,3:38 PM,46829,5.190,True,Finance
765,Alice,NaN,4/23/1995,6:35 AM,148339,11.479,True,Finance
773,NaN,Male,10/24/1986,9:23 AM,47176,10.736,True,Finance
775,Rose,Female,11/3/1999,9:06 AM,75181,6.060,True,Finance
790,Fred,Male,3/3/1989,2:27 AM,129712,11.058,False,Finance
807,Mary,Female,11/6/2011,8:32 AM,115057,2.089,False,Finance
809,George,Male,9/27/1995,5:04 PM,36749,19.754,False,Finance
831,Kenneth,Male,1/15/2015,2:41 PM,69112,7.588,True,Finance
836,Carolyn,Female,3/17/2004,6:38 AM,118037,13.492,False,Finance
837,Joseph,Male,5/23/1985,10:16 PM,139570,15.804,True,Finance
847,Nicole,NaN,5/2/1981,12:03 PM,41449,4.707,False,Finance
854,Harry,Male,2/10/1985,7:46 PM,63046,10.411,False,Finance
856,Bonnie,NaN,1/18/2006,6:52 PM,108946,12.211,False,Finance
861,Jerry,Male,3/26/1989,4:15 AM,140850,18.855,False,Finance
880,Robert,NaN,5/25/2007,3:17 AM,90998,8.382,False,Finance
884,Lisa,Female,10/17/2003,1:42 PM,73706,18.530,False,Finance
889,Margaret,Female,1/4/2001,3:07 AM,126924,1.552,True,Finance
890,NaN,Male,11/24/2015,3:11 AM,145329,7.100,True,Finance
891,Timothy,Male,8/25/1991,10:37 AM,92587,8.475,False,Finance
897,Kenneth,NaN,2/28/1994,10:10 AM,95296,10.146,False,Finance
905,Alice,Female,2/9/2013,12:49 AM,121250,4.363,True,Finance
907,Elizabeth,Female,7/27/1998,11:12 AM,137144,10.081,False,Finance
954,Joe,Male,1/19/1980,4:06 PM,119667,1.148,True,Finance
987,Gloria,Female,12/8/2014,5:08 AM,136709,10.331,True,Finance
992,Anthony,Male,10/16/2011,8:35 AM,112769,11.625,True,Finance
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance

In [10]:
marketing = df["Team"]=='Marketing'

In [12]:
df[marketing]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing
43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing
62,NaN,Female,6/12/2007,5:25 PM,58112,19.414,True,Marketing
74,Thomas,Male,6/4/1995,2:24 PM,62096,17.029,False,Marketing
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
97,Laura,NaN,7/19/2014,9:23 PM,140371,10.620,True,Marketing
98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
104,John,Male,12/23/1989,7:01 AM,80740,19.305,False,Marketing
112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing
119,Paul,Male,6/3/2008,3:05 PM,41054,12.299,False,Marketing
140,Shirley,Female,2/28/1981,1:23 PM,113850,1.854,False,Marketing
150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing
158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing
159,James,NaN,11/22/1983,10:52 PM,68501,14.316,False,Marketing
168,Peter,NaN,9/3/1987,5:59 PM,38989,7.017,True,Marketing
187,Roger,Male,11/19/2004,3:55 PM,51430,6.460,False,Marketing
201,Kimberly,Female,7/15/1997,5:57 AM,36643,7.953,False,Marketing
204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing
216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing
220,NaN,Female,6/17/1991,12:49 PM,71945,5.560,True,Marketing
252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing
271,Frank,NaN,11/20/2001,10:18 AM,58563,12.062,True,Marketing
274,Howard,Male,10/5/1982,7:22 AM,97490,5.460,True,Marketing
293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing
298,Patrick,NaN,8/30/2004,11:43 AM,137314,4.542,True,Marketing
305,Margaret,Female,2/6/1993,1:05 PM,125220,3.733,False,Marketing
309,Benjamin,Male,9/11/1984,6:37 AM,84810,15.794,False,Marketing
319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing
353,NaN,Male,4/22/1997,9:36 PM,65078,3.095,True,Marketing
379,NaN,Female,9/18/2002,12:39 PM,118906,4.537,True,Marketing
400,Billy,NaN,3/16/2004,8:21 AM,62913,18.241,True,Marketing
403,Craig,Male,2/8/1984,4:45 AM,113506,19.642,False,Marketing
413,Johnny,Male,9/14/1992,8:21 AM,115194,5.861,True,Marketing
446,Cheryl,Female,8/16/1994,8:33 AM,67150,15.850,True,Marketing
451,Terry,NaN,7/15/2016,12:29 AM,140002,19.490,True,Marketing
452,Scott,Male,11/17/2012,2:47 PM,146812,1.965,True,Marketing
454,NaN,Male,2/21/1995,12:26 AM,136602,10.429,True,Marketing
459,Charles,NaN,3/1/1987,1:00 PM,137171,5.574,True,Marketing
461,Jeremy,Male,8/9/2001,3:56 AM,43354,13.946,False,Marketing
464,Lawrence,Male,5/13/2005,1:25 AM,74640,18.641,False,Marketing
468,Janice,Female,6/28/1997,1:48 PM,136032,10.696,True,Marketing
484,Joe,Male,4/14/2000,3:14 PM,50645,11.119,False,Marketing
490,Judith,Female,11/23/2007,1:22 PM,117055,7.461,False,Marketing
496,Johnny,Male,2/26/2016,7:39 PM,76394,5.437,True,Marketing
503,Roger,Male,8/3/2015,4:56 PM,125033,4.887,True,Marketing
531,Virginia,Female,5/2/2010,9:10 PM,123649,10.154,True,Marketing
535,Louise,Female,9/18/1981,5:47 AM,91462,8.205,False,Marketing
544,Roger,Male,7/3/2010,5:11 PM,105689,13.320,True,Marketing
550,Gregory,Male,6/18/1984,3:46 AM,82726,16.304,True,Marketing
556,Arthur,Male,12/16/2014,4:56 PM,66819,6.639,True,Marketing
568,Susan,Female,4/18/1986,9:31 AM,90829,19.142,False,Marketing
571,Jonathan,Male,4/6/1995,10:38 PM,56993,18.623,False,Marketing
581,Ernest,Male,1/28/1990,12:08 AM,81919,15.118,False,Marketing
585,Shirley,Female,4/16/1988,11:09 AM,132156,2.754,False,Marketing
586,Rose,Female,10/30/2004,4:34 PM,56961,7.585,False,Marketing
601,Christine,NaN,6/15/1980,6:00 PM,50366,9.862,True,Marketing
611,Elizabeth,NaN,2/16/1981,3:58 AM,52730,12.525,False,Marketing
617,Kathy,Female,1/14/2001,5:11 AM,45682,1.451,True,Marketing
625,Cynthia,Female,6/29/2015,6:38 AM,82408,8.701,True,Marketing
627,Anne,Female,11/21/1984,12:30 PM,128305,16.636,False,Marketing
629,Debra,Female,3/12/1983,12:19 PM,74911,19.513,False,Marketing
645,Anna,NaN,3/13/1985,9:19 AM,45418,10.162,False,Marketing
656,Lisa,Female,2/9/1982,6:44 PM,113592,17.108,True,Marketing
659,Steve,NaN,8/27/2009,3:41 PM,53692,4.785,True,Marketing
667,Douglas,NaN,2/4/2009,2:03 AM,104496,14.771,True,Marketing
675,Diane,Female,10/30/2009,6:56 PM,130577,12.791,False,Marketing
676,Annie,Female,6/6/1992,10:04 AM,138925,9.801,True,Marketing
696,Samuel,Male,5/25/2012,4:40 PM,85550,11.593,True,Marketing
722,Joshua,Male,6/27/1997,3:23 PM,95003,5.197,True,Marketing
730,Nicole,Female,4/26/2009,12:40 AM,66047,18.674,True,Marketing
740,Russell,NaN,5/9/2009,11:59 AM,149456,3.533,False,Marketing
769,Samuel,NaN,10/7/2002,3:08 AM,141305,9.849,True,Marketing
785,NaN,Female,7/24/1982,12:00 AM,57811,8.941,True,Marketing
798,Lawrence,Male,10/1/1984,2:06 PM,102589,17.952,True,Marketing
811,Judith,Female,9/3/1989,11:16 AM,134048,6.818,True,Marketing
813,Evelyn,Female,2/10/2002,4:44 AM,123621,19.767,True,Marketing
817,Ruby,Female,5/31/2008,8:41 PM,83112,4.083,False,Marketing
824,Julia,Female,8/18/2014,3:12 AM,97566,2.147,False,Marketing
860,Phillip,Male,10/7/1984,11:05 AM,36837,14.660,False,Marketing
867,Earl,Male,6/15/2013,3:00 AM,48046,7.737,False,Marketing
870,Cynthia,NaN,11/19/1996,10:40 PM,107816,18.751,False,Marketing
876,Terry,NaN,9/11/1992,4:41 PM,41238,8.219,False,Marketing
881,Ruby,Female,1/28/1980,11:08 PM,142868,6.318,False,Marketing
883,Kathryn,Female,10/27/1995,3:39 PM,57300,18.015,False,Marketing
894,Betty,Female,11/19/2002,10:40 AM,37005,7.645,True,Marketing
899,Walter,Male,5/21/1992,12:39 AM,144701,16.323,True,Marketing
913,Lois,Female,12/11/2015,4:10 PM,99747,6.168,False,Marketing
930,Nancy,Female,9/10/2001,11:57 PM,85213,2.386,True,Marketing
942,Lori,Female,11/20/2015,1:15 PM,75498,6.537,True,Marketing
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,True,Marketing
986,Donna,Female,11/26/1982,7:04 AM,82871,17.999,False,Marketing
991,Rose,Female,8/25/2002,5:12 AM,134505,11.051,True,Marketing
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing

In [18]:
salary = df['Salary']>100000
df[salary]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal
12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources
13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales
17,Shawn,Male,12/7/1986,7:45 PM,111737,6.414,False,Product
18,Diana,Female,10/23/1981,10:27 AM,132940,19.082,False,Client Services
21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing
23,NaN,Male,6/14/2012,4:19 PM,125792,5.042,True,NaN
27,Scott,NaN,7/11/1991,6:58 PM,122367,5.218,False,Legal
28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services
30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering
32,NaN,Male,8/21/1998,2:27 PM,122340,6.417,True,NaN
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development
36,Rachel,Female,2/16/2009,8:47 PM,142032,12.599,False,Business Development
39,NaN,Male,1/29/2016,2:33 AM,122173,7.797,True,Client Services
42,Beverly,Female,9/9/1998,8:26 PM,121918,15.835,False,Legal
44,Cynthia,Female,11/16/1988,6:54 PM,145146,7.482,True,Product
46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance
49,Chris,NaN,1/24/1980,12:13 PM,113590,3.055,False,Sales
55,Karen,Female,11/30/1999,7:46 AM,102488,17.653,True,Product
56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance
61,Denise,Female,11/6/2001,12:03 PM,106862,3.699,False,Business Development
66,Nancy,Female,12/15/2012,11:57 PM,125250,2.672,True,Business Development
69,Irene,NaN,7/14/2015,4:31 PM,100863,4.382,True,Finance
71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales
75,Bonnie,Female,7/2/1991,1:27 AM,104897,5.118,True,Human Resources
76,Margaret,Female,9/10/1988,12:42 PM,131604,7.353,True,Distribution
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
78,Robin,Female,6/4/1983,3:15 PM,114797,5.965,True,Sales
79,Bonnie,Female,11/13/1988,3:30 PM,115814,4.990,False,Product
80,Gerald,NaN,3/17/1995,12:50 AM,137126,15.602,True,Sales
83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance
85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services
86,Annie,NaN,9/29/2007,12:11 AM,103495,17.290,True,Business Development
87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales
91,James,NaN,1/26/2005,11:00 PM,128771,8.309,False,NaN
92,Linda,Female,5/25/2000,5:45 PM,119009,12.506,True,Business Development
93,Virginia,NaN,5/7/1994,5:58 PM,111858,1.601,True,Legal
94,Harry,Male,8/26/1981,3:16 PM,130620,7.030,False,Legal
96,Cynthia,Female,3/21/1994,8:34 AM,142321,1.737,False,Finance
97,Laura,NaN,7/19/2014,9:23 PM,140371,10.620,True,Marketing
98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing
102,Jack,Male,1/12/1997,5:51 AM,103902,12.159,False,Client Services
103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance
108,Russell,NaN,5/5/1988,7:57 AM,133980,12.396,True,Legal
110,Shirley,Female,6/20/2001,10:39 PM,147113,16.135,False,Legal
113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering
117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance
118,Andrea,Female,1/12/2012,5:43 AM,120204,9.557,False,Business Development
121,Kathleen,NaN,5/9/2016,8:55 AM,119735,18.740,False,Product
122,Christina,Female,4/13/2012,2:04 PM,110169,13.892,True,Engineering
128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services
132,Carlos,Male,1/4/1995,7:02 AM,146670,10.763,False,Human Resources
133,Lois,Female,12/25/1987,4:16 PM,106317,2.235,True,Client Services
134,Carolyn,Female,4/9/2011,5:38 AM,109260,2.650,True,Business Development
135,Gloria,Female,6/29/2007,5:34 AM,134148,8.833,True,Legal
138,Ashley,Female,5/25/2006,11:30 AM,112238,6.030,True,Engineering
139,NaN,Female,10/3/1990,1:08 AM,132373,10.527,True,NaN
140,Shirley,Female,2/28/1981,1:23 PM,113850,1.854,False,Marketing
141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product
142,Elizabeth,Female,10/9/2003,5:53 PM,146129,5.687,False,Finance
143,Teresa,NaN,1/28/2016,10:55 AM,140013,8.689,True,Engineering
144,Nicole,NaN,3/5/1982,2:28 PM,122717,12.452,False,Sales
148,Patrick,NaN,7/14/1991,2:24 AM,124488,14.837,True,Sales
150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing
151,Brandon,NaN,11/3/1997,8:17 PM,121333,15.295,False,Business Development
152,Ruth,Female,8/19/1999,4:03 AM,129297,8.067,True,Client Services
155,Marie,Female,3/16/2003,12:12 AM,104058,17.695,True,Business Development
156,Howard,Male,4/27/1992,1:10 AM,105062,1.563,False,Human Resources
158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance
161,Marilyn,NaN,8/22/1999,9:09 AM,103386,11.451,False,Distribution
164,Mary,Female,8/13/1999,1:03 AM,134645,18.197,False,Business Development
167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales
170,Irene,Female,1/29/1992,11:36 AM,133772,19.020,True,Sales
171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
176,Victor,Male,1/8/2003,1:02 PM,124486,10.166,False,Product
177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution
178,Jane,Female,9/3/1997,2:01 AM,144474,17.648,False,Product
182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development
184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services
186,NaN,Female,2/23/2005,9:50 PM,149654,1.825,True,Sales
193,Rebecca,Female,2/18/1995,6:50 AM,109259,4.443,True,Legal
194,Irene,Female,1/30/2004,8:25 PM,131038,8.996,False,Distribution
195,Ronald,Male,4/30/2014,2:19 PM,121068,12.757,True,Product
199,Jonathan,Male,7/17/2009,8:15 AM,130581,16.736,True,NaN
202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales
203,Diana,Female,1/4/2013,7:53 AM,103521,2.784,True,Business Development
205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance
206,Patricia,Female,12/6/2012,4:01 AM,114079,8.399,True,Client Services
208,Jonathan,Male,10/12/1987,2:59 AM,141069,4.903,False,Human Resources
211,Linda,Female,6/24/2006,12:04 PM,110967,19.612,True,Human Resources
212,Lisa,Female,11/2/2009,9:42 AM,115387,1.821,False,Client Services
214,Julie,Female,7/23/1989,1:52 PM,109588,3.550,False,Engineering
216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing
219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance
221,Gregory,Male,1/29/2000,6:01 AM,109564,3.845,False,Legal
223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal
232,Marilyn,Female,4/4/1997,9:28 PM,147663,10.263,False,Human Resources
241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance
243,Jimmy,Male,10/7/1986,5:53 PM,126310,5.413,True,Product
244,Clarence,Male,10/8/1996,12:53 PM,142561,8.866,False,Client Services
247,Brenda,NaN,7/27/2010,11:07 PM,106115,3.742,True,Product
249,Betty,Female,6/12/2002,3:59 AM,104896,19.550,True,Business Development
250,Randy,NaN,2/6/1986,3:04 PM,133943,8.940,True,Sales
253,NaN,NaN,4/28/2003,3:01 AM,113732,10.391,True,Sales
254,Edward,Male,5/27/1985,10:13 PM,110485,7.995,False,Client Services
255,Denise,Female,3/20/2009,7:57 AM,115118,5.108,False,Human Resources
261,Marie,Female,8/6/1995,1:58 PM,100308,13.677,False,Product
265,Roy,Male,9/23/2004,1:31 PM,101941,3.450,False,Client Services
266,NaN,Female,8/5/2009,8:14 AM,115145,14.063,True,Distribution
269,NaN,Female,8/2/1992,8:35 PM,145316,18.517,True,Human Resources
270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources
275,Debra,Female,2/22/1994,10:25 PM,104250,18.456,True,Business Development
279,Ruby,Female,11/8/2000,7:35 PM,105946,1.139,False,Business Development
281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources
282,Carl,NaN,2/7/2014,3:57 AM,125104,12.345,False,Client Services
283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering
284,Brenda,Female,10/6/2005,9:33 PM,141521,4.337,False,Client Services
287,Lois,Female,11/9/2011,7:06 AM,147183,9.999,True,Client Services
290,Jeremy,Male,6/14/1988,6:20 PM,129460,13.657,True,NaN
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services
293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing
297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources
298,Patrick,NaN,8/30/2004,11:43 AM,137314,4.542,True,Marketing
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
305,Margaret,Female,2/6/1993,1:05 PM,125220,3.733,False,Marketing
306,Mark,Male,4/1/1984,1:21 PM,121477,17.440,True,Business Development
312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales
313,Judy,Female,7/1/1991,2:33 AM,109510,13.457,True,Legal
314,Bobby,Male,3/31/1996,5:40 PM,112117,6.338,False,NaN
315,Bobby,NaN,9/1/1995,2:09 PM,108127,15.858,False,Client Services
316,Marie,Female,10/3/2013,8:05 PM,123711,10.966,False,Product
317,Kathy,Female,12/18/2013,3:09 PM,132381,8.340,False,Business Development
318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance
319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing
323,Linda,Female,12/16/1990,2:20 AM,115658,3.041,True,Sales
330,Randy,Male,3/16/2014,6:24 PM,135119,7.887,False,Client Services
332,Fred,Male,2/13/1987,2:15 PM,121723,18.645,True,Product
333,Shirley,Female,6/8/1986,2:25 AM,110061,7.494,False,Client Services
340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales
348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance
349,Phyllis,Female,11/24/2005,11:57 PM,140347,8.723,False,Sales
354,Elizabeth,Female,11/10/2005,4:56 AM,106406,1.782,True,Legal
355,Andrea,Female,9/14/2003,10:30 PM,115913,12.121,False,Legal
357,Russell,Male,8/13/2014,3:51 PM,121160,7.843,False,Engineering
365,Gloria,NaN,7/19/1983,1:57 AM,140885,1.113,False,Human Resources
368,Marilyn,Female,12/17/1982,12:10 PM,147183,8.748,False,Business Development
370,Linda,Female,7/15/2009,10:12 PM,144001,2.194,False,Business Development
375,Gregory,NaN,7/9/2011,11:31 PM,137661,4.805,True,Sales
376,Brandon,Male,10/16/2015,2:44 AM,112548,4.664,False,Engineering
377,Stephen,Male,4/9/1987,12:47 PM,111249,10.574,True,Human Resources
378,Russell,Male,10/30/1994,5:46 AM,114334,9.669,False,Product
379,NaN,Female,9/18/2002,12:39 PM,118906,4.537,True,Marketing
382,NaN,Female,4/18/1996,3:57 PM,107024,12.182,True,NaN
384,Jack,Male,12/24/1980,10:58 PM,106995,15.723,False,Product
386,Phyllis,Female,1/15/1995,5:27 AM,125881,16.697,False,Sales
387,Robert,Male,10/29/1994,4:26 AM,123294,19.894,False,Client Services
388,Gloria,Female,9/19/1989,7:40 PM,131045,11.312,True,Product
391,Marilyn,Female,8/15/1989,9:14 AM,140502,9.989,True,Sales
392,Ralph,Male,10/27/2010,10:28 AM,106310,4.030,True,Client Services
394,Robin,Female,1/8/1998,2:12 AM,111163,5.025,True,Product
397,Clarence,Male,1/13/2005,9:00 AM,116693,13.835,True,Distribution
402,Richard,NaN,11/28/1992,5:05 PM,124655,14.272,True,Engineering
403,Craig,Male,2/8/1984,4:45 AM,113506,19.642,False,Marketing
404,Sarah,NaN,7/20/1990,10:49 PM,109980,8.860,False,Sales
408,Joe,Male,12/5/2010,4:20 PM,144082,1.620,True,Client Services
410,Ernest,Male,8/14/2012,11:25 AM,126232,6.191,True,Sales
411,Kevin,Male,6/23/1981,8:26 PM,134598,11.699,False,Business Development
413,Johnny,Male,9/14/1992,8:21 AM,115194,5.861,True,Marketing
416,NaN,Male,6/29/2008,5:23 AM,111043,5.966,True,Distribution
419,Dorothy,Female,11/5/2013,10:50 PM,140136,3.120,True,Business Development
420,Justin,Male,5/22/1986,6:30 AM,121508,19.334,True,Finance
422,Victor,Male,9/24/2005,12:04 PM,123144,16.261,True,Product
426,Todd,Male,3/16/2016,2:45 PM,134408,3.560,True,Human Resources
429,Rose,Female,5/28/2015,8:40 AM,149903,5.630,False,Human Resources
431,Charles,Male,12/16/1999,8:28 PM,104014,7.077,False,Legal
432,Jessica,NaN,3/7/2015,8:45 PM,121160,12.993,False,Client Services
435,Billy,Male,12/1/2006,3:32 PM,144709,10.069,True,Distribution
439,Nicholas,Male,3/1/2013,9:26 PM,101036,2.826,True,Human Resources
447,Gregory,Male,5/15/2009,3:52 PM,142208,11.204,True,Engineering
449,Beverly,Female,11/30/2005,2:57 AM,107163,3.665,True,Human Resources
451,Terry,NaN,7/15/2016,12:29 AM,140002,19.490,True,Marketing
452,Scott,Male,11/17/2012,2:47 PM,146812,1.965,True,Marketing
454,NaN,Male,2/21/1995,12:26 AM,136602,10.429,True,Marketing
456,Deborah,NaN,2/3/1983,11:38 PM,101457,6.662,False,Engineering
457,Patricia,Female,1/9/2015,4:16 AM,121232,16.624,False,Legal
458,Albert,Male,9/30/2007,5:34 PM,102626,15.843,False,Finance
459,Charles,NaN,3/1/1987,1:00 PM,137171,5.574,True,Marketing
462,Craig,Male,4/14/1996,9:17 AM,125556,7.996,False,Engineering
467,Amy,Female,6/19/2002,3:06 AM,122897,8.222,True,Engineering
468,Janice,Female,6/28/1997,1:48 PM,136032,10.696,True,Marketing
469,Stephen,Male,5/9/2015,7:07 PM,141958,9.078,True,Legal
470,Ryan,Male,7/20/1993,10:18 PM,139917,11.466,False,Distribution
471,Sharon,Female,3/12/2002,6:32 AM,147635,14.693,False,Human Resources
473,Clarence,Male,8/20/1992,8:23 PM,124365,8.457,False,Business Development
474,Jonathan,Male,8/15/2002,12:01 AM,104749,11.364,False,Engineering
475,Stephanie,Female,11/26/1992,12:54 AM,122121,7.937,True,Engineering
476,Kathy,Female,10/25/1996,12:59 PM,143541,8.461,False,Human Resources
477,Albert,Male,8/14/2008,5:43 PM,137840,9.705,False,Business Development
480,Amy,Female,3/30/2008,10:54 PM,106249,15.967,False,Sales
482,Beverly,NaN,5/3/1995,5:49 AM,104815,3.380,False,Product
483,NaN,Female,4/26/1992,8:01 PM,115436,3.099,True,Human Resources
485,Ashley,Female,8/15/1997,9:48 PM,142415,1.985,True,Finance
488,Robert,Male,3/11/2007,11:20 AM,135882,19.944,False,Legal
490,Judith,Female,11/23/2007,1:22 PM,117055,7.461,False,Marketing
492,Jerry,Male,1/30/1995,7:51 PM,121357,18.845,False,Business Development
497,Benjamin,Male,5/5/2013,3:28 PM,114356,7.123,False,Client Services
503,Roger,Male,8/3/2015,4:56 PM,125033,4.887,True,Marketing
506,Donald,Male,7/14/1995,7:51 AM,106472,6.499,True,Client Services
507,Clarence,Male,11/3/2015,12:11 AM,103684,18.654,True,Engineering
510,Frank,Male,4/27/2003,12:04 PM,140303,17.070,False,Legal
523,Diane,Female,7/5/1982,4:56 PM,124889,15.026,True,Sales
524,Peter,NaN,10/13/2014,9:33 PM,118840,14.509,True,Client Services
526,Barbara,Female,3/22/2004,8:11 AM,144677,8.696,False,Finance
531,Virginia,Female,5/2/2010,9:10 PM,123649,10.154,True,Marketing
534,Gerald,NaN,1/8/1992,3:50 PM,133366,12.292,False,Legal
536,Clarence,Male,8/26/1982,9:47 AM,146589,4.905,True,Business Development
541,Ruby,Female,5/1/1999,3:36 AM,147362,7.851,True,Engineering
543,Anna,Female,4/15/2008,2:34 PM,117293,2.366,False,Client Services
544,Roger,Male,7/3/2010,5:11 PM,105689,13.320,True,Marketing
546,Joseph,Male,9/10/1992,6:50 PM,102555,3.672,True,Product
551,Philip,Male,7/18/1985,6:36 AM,122319,19.122,False,Engineering
552,Barbara,Female,9/2/1991,3:41 PM,127297,11.905,True,Product
553,Amanda,Female,6/7/2002,7:46 AM,109290,13.853,False,Engineering
559,Ashley,Female,11/17/1999,9:18 PM,120675,6.510,False,Human Resources
569,Ruby,Female,7/7/1980,3:42 AM,101262,6.773,False,Client Services
572,Raymond,Male,1/13/1996,4:14 PM,114244,16.690,False,Human Resources
574,NaN,Female,1/13/2009,1:01 PM,118736,7.421,True,Client Services
578,Amanda,Female,3/17/1982,11:46 PM,107111,1.438,True,Product
585,Shirley,Female,4/16/1988,11:09 AM,132156,2.754,False,Marketing
589,Sandra,Female,4/24/1995,7:14 PM,116931,9.657,True,Human Resources
591,Rachel,Female,4/22/1988,12:01 PM,110924,7.808,False,Distribution
593,Marie,Female,11/23/2000,5:06 AM,125574,4.644,False,Sales
595,Nancy,Female,5/7/1985,10:20 PM,121006,3.512,True,Finance
603,Carl,NaN,10/26/1991,8:11 AM,100888,12.490,True,Business Development
604,Bruce,Male,3/15/2013,11:13 PM,141335,15.427,True,Engineering
607,NaN,Male,10/13/1983,11:59 PM,139754,12.740,True,Sales
608,NaN,Female,10/24/1993,5:17 PM,116236,17.274,True,Engineering
609,Todd,Male,2/16/2010,11:29 AM,103405,15.910,False,Sales
621,Justin,Male,8/10/1997,11:00 PM,128036,18.824,False,Client Services
623,Irene,Female,11/29/2006,2:14 PM,125018,9.601,True,Legal
624,Jeremy,Male,11/26/1997,8:22 AM,133033,12.200,False,Sales
626,NaN,Female,4/13/1997,8:03 AM,131755,2.930,True,NaN
627,Anne,Female,11/21/1984,12:30 PM,128305,16.636,False,Marketing
628,NaN,NaN,9/2/1988,12:49 PM,147309,1.702,True,Distribution
632,Rebecca,Female,2/23/1990,3:21 PM,134673,6.878,False,Engineering
633,Andrea,Female,11/17/2011,2:37 PM,123591,6.500,True,Engineering
637,Wayne,Male,9/2/2009,1:37 AM,126956,18.396,False,Human Resources
638,Frances,Female,11/12/1996,6:08 PM,112467,1.433,False,Business Development
641,Amanda,Female,1/25/1995,5:06 AM,102081,5.203,False,Sales
642,Amanda,NaN,3/16/2010,9:17 AM,135118,15.108,False,Finance
644,Katherine,Female,8/13/1996,12:21 AM,149908,18.912,False,Finance
647,Donald,Male,4/6/1988,10:00 AM,122920,5.320,False,NaN
648,Gregory,Male,11/15/1999,5:22 PM,128031,15.857,True,Business Development
651,Deborah,Female,11/21/1985,1:40 PM,113129,17.371,False,Client Services
652,Willie,Male,12/5/2009,5:39 AM,141932,1.017,True,Engineering
655,Walter,Male,9/24/2007,11:16 PM,125382,13.613,True,Client Services
656,Lisa,Female,2/9/1982,6:44 PM,113592,17.108,True,Marketing
660,Mary,NaN,12/24/1986,7:02 PM,100341,6.662,False,Distribution
661,Craig,Male,8/21/1995,2:38 AM,123876,4.225,False,Engineering
663,Andrea,Female,8/31/1989,11:10 PM,113760,12.866,True,Distribution
665,Anthony,Male,2/13/2013,1:35 PM,146141,3.645,True,Distribution
667,Douglas,NaN,2/4/2009,2:03 AM,104496,14.771,True,Marketing
670,Martha,Female,9/14/2001,3:22 AM,135758,14.782,True,Client Services
672,Robert,Male,11/5/1982,12:41 PM,111580,10.982,False,Human Resources
675,Diane,Female,10/30/2009,6:56 PM,130577,12.791,False,Marketing
676,Annie,Female,6/6/1992,10:04 AM,138925,9.801,True,Marketing
682,Deborah,Female,4/23/2000,6:55 PM,105573,5.268,True,Product
684,Alice,Female,1/21/2016,5:07 PM,117787,10.485,False,NaN
687,NaN,Male,12/27/1996,7:07 AM,139959,8.992,True,Distribution
690,Bruce,Male,1/28/2007,11:10 PM,134988,13.926,True,Sales
691,Joan,Female,10/2/2007,2:53 AM,120941,3.694,True,Finance
692,Harold,Male,5/15/2007,6:37 PM,118753,8.162,False,Sales
695,Sarah,Female,4/6/1999,11:17 AM,109517,5.146,False,Human Resources
697,NaN,Male,5/23/1990,2:09 AM,136655,9.801,True,Distribution
699,Amy,NaN,5/19/1984,11:47 AM,102839,10.385,True,Distribution
705,Harry,Male,9/23/2015,1:36 AM,129148,15.193,True,Engineering
706,Todd,Male,7/4/1993,6:53 PM,128175,18.473,True,NaN
712,Martin,NaN,2/6/2001,4:17 AM,123963,15.745,True,Engineering
720,Marie,Female,4/8/1983,2:01 PM,145988,18.685,True,Human Resources
721,Harold,Male,4/16/2010,5:13 AM,147417,11.626,True,Business Development
723,Brandon,NaN,9/5/1992,2:32 AM,144187,11.416,True,Legal
725,Jeremy,Male,5/19/1991,1:40 PM,131513,1.876,True,Finance
731,Ann,Female,7/16/2001,9:27 AM,118431,12.772,True,Finance
733,NaN,Male,6/17/2009,1:00 PM,136681,3.655,True,Business Development
734,NaN,Female,12/18/1994,8:42 PM,138807,1.400,True,Human Resources
737,Lawrence,Male,7/23/2011,3:41 AM,122971,14.618,False,Product
738,Joseph,Male,10/10/2010,11:12 PM,107050,12.737,False,Business Development
739,Carlos,Male,1/25/1981,10:00 AM,138598,14.737,False,Sales
740,Russell,NaN,5/9/2009,11:59 AM,149456,3.533,False,Marketing
741,Jane,Female,7/10/1999,7:02 PM,128540,15.941,False,Legal
743,Steven,Male,5/30/1980,8:25 PM,100949,13.813,True,Human Resources
750,Louis,NaN,2/5/1983,6:39 PM,145274,16.379,False,Product
751,Tina,Female,8/6/1999,3:18 AM,102841,3.369,False,Client Services
754,Lisa,Female,4/11/2007,1:04 AM,128042,2.030,True,Legal
756,Stephen,Male,10/21/1984,6:26 AM,121816,10.615,True,Distribution
757,Benjamin,Male,4/12/1988,11:32 PM,123409,7.783,False,Product
761,Jennifer,Female,3/31/2015,7:43 PM,132084,10.006,True,Engineering
763,Jacqueline,Female,7/27/2008,12:08 PM,125298,3.019,True,Legal
764,Roger,Male,5/2/1988,10:04 PM,115582,15.343,True,Sales
765,Alice,NaN,4/23/1995,6:35 AM,148339,11.479,True,Finance

In [23]:
df[df['Senior Management']]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,True,Finance
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development
10,Louise,Female,8/12/1980,9:01 AM,63241,15.132,True,NaN
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal
12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance
20,Lois,NaN,4/22/1995,7:18 PM,64714,4.934,True,Legal
22,Joshua,NaN,3/8/2012,1:58 AM,90816,18.816,True,Client Services
23,NaN,Male,6/14/2012,4:19 PM,125792,5.042,True,NaN
25,NaN,Male,10/8/2012,1:12 AM,37076,18.576,True,Client Services
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing
28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services
29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal
30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering
32,NaN,Male,8/21/1998,2:27 PM,122340,6.417,True,NaN
37,Linda,Female,10/19/1981,8:49 PM,57427,9.557,True,Client Services
38,Stephanie,Female,9/13/1986,1:52 AM,36844,5.574,True,Business Development
39,NaN,Male,1/29/2016,2:33 AM,122173,7.797,True,Client Services
40,Michael,Male,10/10/2008,11:25 AM,99283,2.665,True,Distribution
41,Christine,NaN,6/28/2015,1:08 AM,66582,11.308,True,Business Development
43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing
44,Cynthia,Female,11/16/1988,6:54 PM,145146,7.482,True,Product
45,Roger,Male,4/17/1980,11:32 AM,88010,13.886,True,Sales
47,Kathy,Female,6/22/2005,4:51 AM,66820,9.000,True,Client Services
48,Clarence,Male,3/26/1996,5:57 AM,93581,6.083,True,Business Development
50,Nancy,Female,9/23/2000,8:05 AM,94976,13.830,True,Engineering
51,NaN,NaN,12/17/2011,8:29 AM,41126,14.009,True,Sales
52,Todd,Male,2/18/1990,2:41 AM,49339,1.695,True,Human Resources
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
55,Karen,Female,11/30/1999,7:46 AM,102488,17.653,True,Product
56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance
57,Henry,Male,6/26/1996,1:44 AM,64715,15.107,True,Human Resources
58,Theresa,Female,4/11/2010,7:18 AM,72670,1.481,True,Engineering
62,NaN,Female,6/12/2007,5:25 PM,58112,19.414,True,Marketing
65,Steve,Male,11/11/2009,11:44 PM,61310,12.428,True,Distribution
66,Nancy,Female,12/15/2012,11:57 PM,125250,2.672,True,Business Development
67,Rachel,Female,8/16/1999,6:53 AM,51178,9.735,True,Finance
68,Jose,Male,10/30/2004,1:39 PM,84834,14.330,True,Finance
69,Irene,NaN,7/14/2015,4:31 PM,100863,4.382,True,Finance
71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales
73,Frances,Female,4/4/1999,4:19 PM,90582,4.709,True,Sales
75,Bonnie,Female,7/2/1991,1:27 AM,104897,5.118,True,Human Resources
76,Margaret,Female,9/10/1988,12:42 PM,131604,7.353,True,Distribution
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
78,Robin,Female,6/4/1983,3:15 PM,114797,5.965,True,Sales
80,Gerald,NaN,3/17/1995,12:50 AM,137126,15.602,True,Sales
82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services
83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance
85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services
86,Annie,NaN,9/29/2007,12:11 AM,103495,17.290,True,Business Development
87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales
88,Donna,Female,11/27/1991,1:59 PM,64088,6.155,True,Legal
90,Janice,NaN,8/21/1997,5:12 AM,91719,11.583,True,Legal
92,Linda,Female,5/25/2000,5:45 PM,119009,12.506,True,Business Development
93,Virginia,NaN,5/7/1994,5:58 PM,111858,1.601,True,Legal
97,Laura,NaN,7/19/2014,9:23 PM,140371,10.620,True,Marketing
98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance
108,Russell,NaN,5/5/1988,7:57 AM,133980,12.396,True,Legal
111,Bonnie,Female,12/17/1999,3:12 PM,42153,8.454,True,Business Development
113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering
114,Ashley,Female,8/4/2002,11:00 AM,58698,6.811,True,Business Development
116,NaN,Male,6/22/1991,8:58 PM,76189,18.988,True,Legal
122,Christina,Female,4/13/2012,2:04 PM,110169,13.892,True,Engineering
123,Helen,Female,11/29/2001,2:30 AM,73789,14.841,True,Product
124,Marilyn,Female,11/16/1983,8:29 AM,76078,2.401,True,Product
126,Michelle,Female,3/30/1984,6:43 PM,57325,17.179,True,Human Resources
128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services
129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development
130,Shirley,Female,5/1/1984,1:15 PM,41334,6.219,True,Human Resources
133,Lois,Female,12/25/1987,4:16 PM,106317,2.235,True,Client Services
134,Carolyn,Female,4/9/2011,5:38 AM,109260,2.650,True,Business Development
135,Gloria,Female,6/29/2007,5:34 AM,134148,8.833,True,Legal
138,Ashley,Female,5/25/2006,11:30 AM,112238,6.030,True,Engineering
139,NaN,Female,10/3/1990,1:08 AM,132373,10.527,True,NaN
141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product
143,Teresa,NaN,1/28/2016,10:55 AM,140013,8.689,True,Engineering
145,Jennifer,Female,4/4/2009,10:47 PM,71715,13.079,True,Client Services
148,Patrick,NaN,7/14/1991,2:24 AM,124488,14.837,True,Sales
149,NaN,Female,8/17/2014,2:00 PM,86230,8.578,True,Distribution
152,Ruth,Female,8/19/1999,4:03 AM,129297,8.067,True,Client Services
153,Victor,NaN,3/10/2011,8:40 PM,84546,10.489,True,Finance
154,Rebecca,Female,11/15/1980,4:13 AM,85730,5.359,True,Product
155,Marie,Female,3/16/2003,12:12 AM,104058,17.695,True,Business Development
157,NaN,Female,7/27/2005,8:32 AM,79536,14.443,True,Product
158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance
162,Arthur,Male,4/13/1998,11:28 AM,89786,14.422,True,Legal
165,NaN,Female,3/23/2014,1:28 PM,59148,9.061,True,Legal
166,NaN,Female,7/9/1991,6:52 PM,42341,7.014,True,Sales
167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales
168,Peter,NaN,9/3/1987,5:59 PM,38989,7.017,True,Marketing
169,Michelle,Female,11/4/1996,9:34 PM,53754,5.455,True,Product
170,Irene,Female,1/29/1992,11:36 AM,133772,19.020,True,Sales
171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering
173,Lillian,Female,12/21/2008,6:51 PM,85446,3.959,True,Engineering
174,NaN,NaN,9/18/2007,6:59 PM,40297,6.185,True,Client Services
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution
179,Jessica,Female,10/23/1995,5:53 AM,68759,19.343,True,Finance
180,Mark,Male,4/12/2008,5:40 PM,57286,5.025,True,Business Development
181,Randy,Male,11/14/1999,12:12 PM,58129,1.952,True,Distribution
182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development
183,Ruth,NaN,5/18/1999,5:56 AM,98233,2.518,True,Distribution
184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services
185,Sandra,Female,1/19/1983,7:25 AM,42090,8.842,True,Legal
186,NaN,Female,2/23/2005,9:50 PM,149654,1.825,True,Sales
192,Barbara,NaN,5/3/2003,7:32 PM,99326,16.475,True,Legal
193,Rebecca,Female,2/18/1995,6:50 AM,109259,4.443,True,Legal
195,Ronald,Male,4/30/2014,2:19 PM,121068,12.757,True,Product
198,Maria,Female,12/27/1990,9:57 PM,36067,9.640,True,Product
199,Jonathan,Male,7/17/2009,8:15 AM,130581,16.736,True,NaN
202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales
203,Diana,Female,1/4/2013,7:53 AM,103521,2.784,True,Business Development
204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing
205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance
206,Patricia,Female,12/6/2012,4:01 AM,114079,8.399,True,Client Services
210,Ruth,Female,8/12/1986,7:29 PM,44639,9.148,True,Legal
211,Linda,Female,6/24/2006,12:04 PM,110967,19.612,True,Human Resources
213,Evelyn,Female,5/24/1980,11:10 PM,81673,15.364,True,Engineering
217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services
218,Gregory,NaN,6/15/1992,5:08 AM,98865,10.628,True,Finance
219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance
220,NaN,Female,6/17/1991,12:49 PM,71945,5.560,True,Marketing
223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal
225,Harry,Male,10/1/2015,7:47 PM,64579,15.266,True,Sales
226,Kathy,Female,4/19/1995,12:46 AM,50905,9.404,True,Finance
227,Todd,Male,4/13/1999,10:31 AM,59728,11.226,True,Client Services
228,Bobby,Male,9/23/1994,1:29 AM,51685,17.445,True,Engineering
229,Jeremy,Male,6/8/2000,12:15 AM,49542,1.679,True,Distribution
234,Irene,Female,2/4/1982,5:26 PM,40837,12.182,True,Client Services
235,Norma,Female,2/11/2015,11:44 PM,94393,3.643,True,Engineering
242,Robert,Male,10/27/1990,7:15 PM,38041,18.428,True,Engineering
243,Jimmy,Male,10/7/1986,5:53 PM,126310,5.413,True,Product
246,Fred,NaN,12/2/1984,2:03 PM,59937,12.045,True,Human Resources
247,Brenda,NaN,7/27/2010,11:07 PM,106115,3.742,True,Product
248,Justin,Male,12/6/1992,5:58 PM,82782,4.366,True,Distribution
249,Betty,Female,6/12/2002,3:59 AM,104896,19.550,True,Business Development
250,Randy,NaN,2/6/1986,3:04 PM,133943,8.940,True,Sales
252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing
253,NaN,NaN,4/28/2003,3:01 AM,113732,10.391,True,Sales
257,NaN,Male,11/25/1999,6:16 AM,42676,15.517,True,Sales
259,Henry,Male,2/6/1995,8:34 AM,89258,15.585,True,Human Resources
262,Anne,Female,7/16/1986,2:08 PM,69134,3.723,True,Engineering
263,Sarah,NaN,11/21/1985,1:08 PM,58295,14.603,True,Engineering
264,Stephanie,Female,3/24/1983,11:15 AM,50141,13.218,True,Human Resources
266,NaN,Female,8/5/2009,8:14 AM,115145,14.063,True,Distribution
267,NaN,Male,2/4/2005,1:01 PM,40451,16.044,True,Distribution
268,Irene,Female,3/3/1982,8:26 AM,56526,5.810,True,Finance
269,NaN,Female,8/2/1992,8:35 PM,145316,18.517,True,Human Resources
270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources
271,Frank,NaN,11/20/2001,10:18 AM,58563,12.062,True,Marketing
273,Nicholas,Male,4/12/1994,8:21 PM,74669,1.113,True,Product
274,Howard,Male,10/5/1982,7:22 AM,97490,5.460,True,Marketing
275,Debra,Female,2/22/1994,10:25 PM,104250,18.456,True,Business Development
281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources
283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering
286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance
287,Lois,Female,11/9/2011,7:06 AM,147183,9.999,True,Client Services
289,Jessica,Female,9/27/1985,1:35 PM,75145,6.388,True,Legal
290,Jeremy,Male,6/14/1988,6:20 PM,129460,13.657,True,NaN
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services
292,Anne,Female,3/7/2000,6:45 AM,44537,18.284,True,Client Services
296,Jeremy,NaN,11/10/1996,1:49 PM,55394,3.180,True,Sales
297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources
298,Patrick,NaN,8/30/2004,11:43 AM,137314,4.542,True,Marketing
299,Emily,Female,1/13/1988,6:42 AM,36711,19.028,True,Human Resources
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources
304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance
306,Mark,Male,4/1/1984,1:21 PM,121477,17.440,True,Business Development
308,Cheryl,Female,9/8/2009,10:16 AM,81308,2.196,True,Legal
310,Harold,Male,2/20/1990,11:00 PM,66775,2.158,True,Legal
311,Ernest,NaN,1/18/2002,1:51 AM,72145,13.448,True,Finance
312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales
313,Judy,Female,7/1/1991,2:33 AM,109510,13.457,True,Legal
320,NaN,Female,7/8/2008,11:40 PM,62960,14.356,True,Sales
323,Linda,Female,12/16/1990,2:20 AM,115658,3.041,True,Sales
326,Jeffrey,Male,6/18/1997,8:01 PM,45150,12.075,True,Product
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance
329,NaN,Male,1/27/2010,2:57 AM,87760,14.987,True,Engineering
331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing
332,Fred,Male,2/13/1987,2:15 PM,121723,18.645,True,Product
336,Mark,Male,1/22/2007,2:37 PM,75150,12.182,True,Legal
337,Earl,Male,1/5/2000,5:46 PM,91344,4.035,True,Sales
339,Michael,Male,11/22/1991,12:57 PM,98753,16.443,True,Human Resources
340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales
341,Carlos,Male,9/19/2007,1:01 AM,77327,11.580,True,Finance
343,Ronald,Male,2/24/2009,2:09 PM,96633,4.990,True,Engineering
345,Steven,Male,11/21/2006,8:30 AM,83706,6.960,True,Human Resources
346,James,Male,11/22/1998,3:48 AM,74086,5.778,True,Human Resources
352,NaN,Male,10/9/2011,9:29 AM,69906,4.844,True,Engineering
353,NaN,Male,4/22/1997,9:36 PM,65078,3.095,True,Marketing
354,Elizabeth,Female,11/10/2005,4:56 AM,106406,1.782,True,Legal
359,Sarah,Female,5/22/1994,7:06 AM,64207,7.824,True,Client Services
360,Susan,Female,9/25/2004,1:30 AM,80688,18.892,True,Sales
366,Jennifer,NaN,1/24/1989,8:38 PM,58520,16.231,True,Client Services
367,Edward,Male,8/4/1989,6:06 AM,66067,10.957,True,NaN
372,Albert,Male,2/1/1997,4:20 PM,67827,19.717,True,Engineering
374,NaN,Female,12/31/2006,11:02 PM,81444,3.171,True,Distribution
375,Gregory,NaN,7/9/2011,11:31 PM,137661,4.805,True,Sales
377,Stephen,Male,4/9/1987,12:47 PM,111249,10.574,True,Human Resources
379,NaN,Female,9/18/2002,12:39 PM,118906,4.537,True,Marketing
381,Scott,Male,8/3/1996,1:50 AM,64172,10.894,True,Engineering
382,NaN,Female,4/18/1996,3:57 PM,107024,12.182,True,NaN
388,Gloria,Female,9/19/1989,7:40 PM,131045,11.312,True,Product
389,Sharon,NaN,10/28/1984,5:59 PM,97635,10.413,True,Client Services
390,Barbara,NaN,4/26/2001,12:22 AM,94493,13.443,True,Sales
391,Marilyn,Female,8/15/1989,9:14 AM,140502,9.989,True,Sales
392,Ralph,Male,10/27/2010,10:28 AM,106310,4.030,True,Client Services
393,Harry,NaN,12/5/1996,5:45 AM,46240,6.976,True,Engineering
394,Robin,Female,1/8/1998,2:12 AM,111163,5.025,True,Product
395,Kathy,Female,11/25/2001,9:55 PM,93753,7.094,True,Sales
396,Rose,Female,7/6/2002,3:57 PM,63494,19.385,True,Human Resources
397,Clarence,Male,1/13/2005,9:00 AM,116693,13.835,True,Distribution
398,Doris,Female,7/29/1992,6:40 PM,85215,7.425,True,Human Resources
400,Billy,NaN,3/16/2004,8:21 AM,62913,18.241,True,Marketing
401,Norma,Female,4/16/1996,5:40 AM,38872,9.302,True,Business Development
402,Richard,NaN,11/28/1992,5:05 PM,124655,14.272,True,Engineering
406,Mary,Female,8/22/2010,8:03 AM,42214,17.538,True,Business Development
407,Steve,NaN,2/23/2002,3:55 AM,83159,9.550,True,Distribution
408,Joe,Male,12/5/2010,4:20 PM,144082,1.620,True,Client Services
409,Jeremy,Male,5/29/1994,6:24 AM,47885,19.276,True,Human Resources
410,Ernest,Male,8/14/2012,11:25 AM,126232,6.191,True,Sales
413,Johnny,Male,9/14/1992,8:21 AM,115194,5.861,True,Marketing
414,Gary,Male,8/18/2011,8:12 AM,49101,11.900,True,Business Development
416,NaN,Male,6/29/2008,5:23 AM,111043,5.966,True,Distribution
418,Julia,Female,3/2/1982,12:52 PM,36403,2.664,True,Finance
419,Dorothy,Female,11/5/2013,10:50 PM,140136,3.120,True,Business Development
420,Justin,Male,5/22/1986,6:30 AM,121508,19.334,True,Finance
421,Kevin,Male,11/20/1986,6:59 PM,79906,18.021,True,Sales
422,Victor,Male,9/24/2005,12:04 PM,123144,16.261,True,Product
425,Alice,Female,5/2/1986,1:50 AM,51395,2.378,True,Finance
426,Todd,Male,3/16/2016,2:45 PM,134408,3.560,True,Human Resources
427,Frank,Male,1/10/1981,1:30 PM,71853,8.037,True,Sales
428,Christopher,Male,5/13/1999,10:48 AM,68028,7.869,True,Finance
433,Wanda,Female,7/20/2008,1:44 PM,65362,7.132,True,Legal
434,Joyce,Female,2/7/1995,7:38 AM,50701,14.227,True,NaN
435,Billy,Male,12/1/2006,3:32 PM,144709,10.069,True,Distribution
436,Kathryn,Female,8/29/2007,6:10 AM,53061,11.864,True,Finance
437,Denise,Female,3/18/2001,12:02 AM,36697,11.196,True,Sales
438,Jason,Male,11/20/1998,2:54 PM,69244,6.220,True,NaN
439,Nicholas,Male,3/1/2013,9:26 PM,101036,2.826,True,Human Resources
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
441,Louise,Female,5/13/2003,9:47 AM,46666,1.886,True,Business Development
442,Julie,Female,4/23/1998,5:52 AM,73437,2.518,True,Finance
443,Kathy,Female,5/8/1987,6:19 PM,86318,18.492,True,Sales
444,NaN,Male,5/24/2016,9:17 PM,76409,7.008,True,Distribution
446,Cheryl,Female,8/16/1994,8:33 AM,67150,15.850,True,Marketing
447,Gregory,Male,5/15/2009,3:52 PM,142208,11.204,True,Engineering
449,Beverly,Female,11/30/2005,2:57 AM,107163,3.665,True,Human Resources
451,Terry,NaN,7/15/2016,12:29 AM,140002,19.490,True,Marketing
452,Scott,Male,11/17/2012,2:47 PM,146812,1.965,True,Marketing
453,Annie,Female,12/19/1994,6:19 AM,40119,4.338,True,Human Resources
454,NaN,Male,2/21/1995,12:26 AM,136602,10.429,True,Marketing
455,Ruth,Female,10/24/2000,4:13 AM,69579,18.029,True,Human Resources
459,Charles,NaN,3/1/1987,1:00 PM,137171,5.574,True,Marketing
467,Amy,Female,6/19/2002,3:06 AM,122897,8.222,True,Engineering
468,Janice,Female,6/28/1997,1:48 PM,136032,10.696,True,Marketing
469,Stephen,Male,5/9/2015,7:07 PM,141958,9.078,True,Legal
475,Stephanie,Female,11/26/1992,12:54 AM,122121,7.937,True,Engineering
479,Richard,Male,7/4/1997,11:47 AM,47647,18.787,True,NaN
481,NaN,Female,4/27/2013,6:40 AM,93847,1.085,True,Business Development
483,NaN,Female,4/26/1992,8:01 PM,115436,3.099,True,Human Resources
485,Ashley,Female,8/15/1997,9:48 PM,142415,1.985,True,Finance
489,Sharon,Female,7/1/2011,9:50 AM,46007,19.731,True,Client Services
491,Nicholas,NaN,9/9/1989,7:12 PM,58478,6.525,True,Distribution
494,Barbara,Female,3/21/2002,8:02 AM,47322,7.250,True,Sales
496,Johnny,Male,2/26/2016,7:39 PM,76394,5.437,True,Marketing
499,Barbara,NaN,12/10/1980,11:04 PM,90187,14.764,True,Distribution
503,Roger,Male,8/3/2015,4:56 PM,125033,4.887,True,Marketing
504,NaN,Female,6/24/2014,10:05 AM,38275,10.494,True,Distribution
505,NaN,Male,4/20/1980,1:17 PM,71520,13.248,True,Engineering
506,Donald,Male,7/14/1995,7:51 AM,106472,6.499,True,Client Services
507,Clarence,Male,11/3/2015,12:11 AM,103684,18.654,True,Engineering
511,Joe,Male,7/4/1983,7:32 AM,62161,8.130,True,Business Development
514,Amy,NaN,12/25/1984,10:52 AM,63888,18.115,True,Product
516,Gloria,Female,4/12/1992,8:26 PM,66224,15.979,True,Legal
517,Ruth,Female,12/12/1996,10:07 AM,97915,3.997,True,Human Resources
518,Diana,Female,1/19/1995,12:37 AM,86883,18.003,True,Product
520,Peter,Male,2/22/2003,9:09 AM,56580,8.411,True,NaN
521,NaN,NaN,9/25/1981,9:59 AM,83895,17.971,True,Engineering
522,Catherine,Female,8/31/2013,7:24 PM,58047,14.858,True,Distribution
523,Diane,Female,7/5/1982,4:56 PM,124889,15.026,True,Sales
524,Peter,NaN,10/13/2014,9:33 PM,118840,14.509,True,Client Services
525,Steve,Male,8/22/1995,6:58 AM,67780,9.540,True,Human Resources
528,Jimmy,NaN,8/26/1983,2:48 AM,86676,7.175,True,Product
531,Virginia,Female,5/2/2010,9:10 PM,123649,10.154,True,Marketing
532,Lisa,Female,2/26/2005,6:33 PM,38078,10.280,True,Product
536,Clarence,Male,8/26/1982,9:47 AM,146589,4.905,True,Business Development
537,Cynthia,Female,9/14/1991,1:08 PM,51633,13.472,True,Business Development
539,Justin,Male,9/6/1999,10:30 AM,62454,3.459,True,Sales
540,NaN,Female,12/2/2009,3:30 AM,84746,4.820,True,Finance
541,Ruby,Female,5/1/1999,3:36 AM,147362,7.851,True,Engineering
542,Amanda,Female,8/1/2004,1:32 PM,80803,14.077,True,Distribution
544,Roger,Male,7/3/2010,5:11 PM,105689,13.320,True,Marketing
545,Julie,NaN,2/4/1999,5:35 PM,93302,9.048,True,Product
546,Joseph,Male,9/10/1992,6:50 PM,102555,3.672,True,Product
548,Janice,Female,1/2/1984,9:06 PM,41190,3.311,True,Sales
550,Gregory,Male,6/18/1984,3:46 AM,82726,16.304,True,Marketing
552,Barbara,Female,9/2/1991,3:41 PM,127297,11.905,True,Product
555,Anne,Female,10/26/1996,8:09 PM,71930,18.451,True,Product
556,Arthur,Male,12/16/2014,4:56 PM,66819,6.639,True,Marketing
560,Shawn,Male,12/3/2009,10:24 AM,96610,2.097,True,Client Services
562,Sara,NaN,10/7/1983,1:35 PM,87713,18.863,True,Legal
564,Andrew,Male,3/29/1985,6:57 PM,43414,7.563,True,Client Services
566,Johnny,Male,1/8/1995,1:35 PM,91124,12.986,True,Distribution

In [24]:
domain = df['Team'] !='Product'
df[domain]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,True,Finance
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development
11,Julie,Female,10/26/1997,3:19 PM,102508,12.637,True,Legal
12,Brandon,Male,12/1/1980,1:08 AM,112807,17.492,True,Human Resources
13,Gary,Male,1/27/2008,11:40 PM,109831,5.831,False,Sales
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance
16,Jeremy,Male,9/21/2010,5:56 AM,90370,7.369,False,Human Resources
18,Diana,Female,10/23/1981,10:27 AM,132940,19.082,False,Client Services
20,Lois,NaN,4/22/1995,7:18 PM,64714,4.934,True,Legal
21,Matthew,Male,9/5/1995,2:12 AM,100612,13.645,False,Marketing
22,Joshua,NaN,3/8/2012,1:58 AM,90816,18.816,True,Client Services
24,John,Male,7/1/1992,10:08 PM,97950,13.873,False,Client Services
25,NaN,Male,10/8/2012,1:12 AM,37076,18.576,True,Client Services
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing
27,Scott,NaN,7/11/1991,6:58 PM,122367,5.218,False,Legal
28,Terry,Male,11/27/1981,6:30 PM,124008,13.464,True,Client Services
29,Benjamin,Male,1/26/2005,10:06 PM,79529,7.008,True,Legal
30,Christina,Female,8/6/2002,1:19 PM,118780,9.096,True,Engineering
33,Jean,Female,12/18/1993,9:07 AM,119082,16.180,False,Business Development
34,Jerry,Male,1/10/2004,12:56 PM,95734,19.096,False,Client Services
35,Theresa,Female,10/10/2006,1:12 AM,85182,16.675,False,Sales
36,Rachel,Female,2/16/2009,8:47 PM,142032,12.599,False,Business Development
37,Linda,Female,10/19/1981,8:49 PM,57427,9.557,True,Client Services
38,Stephanie,Female,9/13/1986,1:52 AM,36844,5.574,True,Business Development
39,NaN,Male,1/29/2016,2:33 AM,122173,7.797,True,Client Services
40,Michael,Male,10/10/2008,11:25 AM,99283,2.665,True,Distribution
41,Christine,NaN,6/28/2015,1:08 AM,66582,11.308,True,Business Development
42,Beverly,Female,9/9/1998,8:26 PM,121918,15.835,False,Legal
43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing
45,Roger,Male,4/17/1980,11:32 AM,88010,13.886,True,Sales
46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance
47,Kathy,Female,6/22/2005,4:51 AM,66820,9.000,True,Client Services
48,Clarence,Male,3/26/1996,5:57 AM,93581,6.083,True,Business Development
49,Chris,NaN,1/24/1980,12:13 PM,113590,3.055,False,Sales
50,Nancy,Female,9/23/2000,8:05 AM,94976,13.830,True,Engineering
51,NaN,NaN,12/17/2011,8:29 AM,41126,14.009,True,Sales
52,Todd,Male,2/18/1990,2:41 AM,49339,1.695,True,Human Resources
53,Alan,NaN,3/3/2014,1:28 PM,40341,17.578,True,Finance
54,Sara,Female,8/15/2007,9:23 AM,83677,8.999,False,Engineering
56,Carl,Male,5/3/2006,5:55 PM,130276,16.084,True,Finance
57,Henry,Male,6/26/1996,1:44 AM,64715,15.107,True,Human Resources
58,Theresa,Female,4/11/2010,7:18 AM,72670,1.481,True,Engineering
59,Irene,Female,5/7/1997,9:32 AM,66851,11.279,False,Engineering
60,Paula,NaN,11/23/2005,2:01 PM,48866,4.271,False,Distribution
61,Denise,Female,11/6/2001,12:03 PM,106862,3.699,False,Business Development
62,NaN,Female,6/12/2007,5:25 PM,58112,19.414,True,Marketing
63,Matthew,Male,1/2/2013,10:33 PM,35203,18.040,False,Human Resources
64,Kathleen,NaN,4/11/1990,6:46 PM,77834,18.771,False,Business Development
65,Steve,Male,11/11/2009,11:44 PM,61310,12.428,True,Distribution
66,Nancy,Female,12/15/2012,11:57 PM,125250,2.672,True,Business Development
67,Rachel,Female,8/16/1999,6:53 AM,51178,9.735,True,Finance
68,Jose,Male,10/30/2004,1:39 PM,84834,14.330,True,Finance
69,Irene,NaN,7/14/2015,4:31 PM,100863,4.382,True,Finance
70,Todd,NaN,6/10/2003,2:26 PM,84692,6.617,False,Client Services
71,Johnny,Male,11/6/2009,4:23 PM,118172,16.194,True,Sales
73,Frances,Female,4/4/1999,4:19 PM,90582,4.709,True,Sales
74,Thomas,Male,6/4/1995,2:24 PM,62096,17.029,False,Marketing
75,Bonnie,Female,7/2/1991,1:27 AM,104897,5.118,True,Human Resources
76,Margaret,Female,9/10/1988,12:42 PM,131604,7.353,True,Distribution
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
78,Robin,Female,6/4/1983,3:15 PM,114797,5.965,True,Sales
80,Gerald,NaN,3/17/1995,12:50 AM,137126,15.602,True,Sales
81,Christopher,Male,3/30/2008,10:52 AM,47369,14.822,False,Legal
82,Steven,Male,3/30/1980,9:20 PM,35095,8.379,True,Client Services
83,Shawn,Male,9/23/2005,2:55 AM,148115,6.539,True,Finance
84,Doris,Female,8/20/2004,5:51 AM,83072,7.511,False,Finance
85,Jeremy,Male,2/1/2008,8:50 AM,100238,3.887,True,Client Services
86,Annie,NaN,9/29/2007,12:11 AM,103495,17.290,True,Business Development
87,Annie,Female,1/30/1993,2:05 AM,144887,8.276,True,Sales
88,Donna,Female,11/27/1991,1:59 PM,64088,6.155,True,Legal
89,Janice,Female,3/12/2016,12:40 AM,51082,11.955,False,Legal
90,Janice,NaN,8/21/1997,5:12 AM,91719,11.583,True,Legal
92,Linda,Female,5/25/2000,5:45 PM,119009,12.506,True,Business Development
93,Virginia,NaN,5/7/1994,5:58 PM,111858,1.601,True,Legal
94,Harry,Male,8/26/1981,3:16 PM,130620,7.030,False,Legal
95,Heather,Female,7/11/1998,2:17 PM,43026,14.166,False,Client Services
96,Cynthia,Female,3/21/1994,8:34 AM,142321,1.737,False,Finance
97,Laura,NaN,7/19/2014,9:23 PM,140371,10.620,True,Marketing
98,Tina,Female,6/16/2016,7:47 PM,100705,16.961,True,Marketing
99,Harold,Male,1/2/1985,9:40 PM,77544,12.447,False,Business Development
100,Melissa,Female,6/21/2005,6:33 AM,48109,14.995,False,Finance
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
102,Jack,Male,1/12/1997,5:51 AM,103902,12.159,False,Client Services
103,Phyllis,Female,10/11/1996,9:30 PM,136984,8.932,True,Finance
104,John,Male,12/23/1989,7:01 AM,80740,19.305,False,Marketing
105,Kathy,Female,3/9/1996,4:33 AM,91712,8.567,False,Finance
106,Paul,Male,8/4/1993,7:25 PM,42146,3.046,False,Legal
107,Steven,Male,4/23/2013,10:12 PM,68680,16.565,False,Legal
108,Russell,NaN,5/5/1988,7:57 AM,133980,12.396,True,Legal
110,Shirley,Female,6/20/2001,10:39 PM,147113,16.135,False,Legal
111,Bonnie,Female,12/17/1999,3:12 PM,42153,8.454,True,Business Development
112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing
113,Tina,Female,6/12/2009,7:16 AM,114767,3.711,True,Engineering
114,Ashley,Female,8/4/2002,11:00 AM,58698,6.811,True,Business Development
116,NaN,Male,6/22/1991,8:58 PM,76189,18.988,True,Legal
117,Steven,Male,3/1/1995,3:03 PM,109095,9.494,False,Finance
118,Andrea,Female,1/12/2012,5:43 AM,120204,9.557,False,Business Development
119,Paul,Male,6/3/2008,3:05 PM,41054,12.299,False,Marketing
120,Peter,Male,11/17/1994,6:15 PM,84885,15.402,False,Business Development
122,Christina,Female,4/13/2012,2:04 PM,110169,13.892,True,Engineering
125,Patricia,Female,9/1/2003,6:46 AM,49368,14.226,False,Human Resources
126,Michelle,Female,3/30/1984,6:43 PM,57325,17.179,True,Human Resources
127,William,Male,9/29/2002,4:09 PM,66521,5.830,False,Human Resources
128,Kenneth,Male,8/25/1987,9:16 PM,127654,16.439,True,Client Services
129,Antonio,Male,10/25/1988,1:50 PM,60866,13.101,True,Business Development
130,Shirley,Female,5/1/1984,1:15 PM,41334,6.219,True,Human Resources
132,Carlos,Male,1/4/1995,7:02 AM,146670,10.763,False,Human Resources
133,Lois,Female,12/25/1987,4:16 PM,106317,2.235,True,Client Services
134,Carolyn,Female,4/9/2011,5:38 AM,109260,2.650,True,Business Development
135,Gloria,Female,6/29/2007,5:34 AM,134148,8.833,True,Legal
136,Henry,Male,4/24/1995,4:18 AM,43542,19.687,False,Legal
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
138,Ashley,Female,5/25/2006,11:30 AM,112238,6.030,True,Engineering
140,Shirley,Female,2/28/1981,1:23 PM,113850,1.854,False,Marketing
142,Elizabeth,Female,10/9/2003,5:53 PM,146129,5.687,False,Finance
143,Teresa,NaN,1/28/2016,10:55 AM,140013,8.689,True,Engineering
144,Nicole,NaN,3/5/1982,2:28 PM,122717,12.452,False,Sales
145,Jennifer,Female,4/4/2009,10:47 PM,71715,13.079,True,Client Services
147,Philip,Male,7/17/2008,1:30 PM,89227,3.996,False,Legal
148,Patrick,NaN,7/14/1991,2:24 AM,124488,14.837,True,Sales
149,NaN,Female,8/17/2014,2:00 PM,86230,8.578,True,Distribution
150,Sean,Male,5/4/1996,8:59 PM,135490,19.934,False,Marketing
151,Brandon,NaN,11/3/1997,8:17 PM,121333,15.295,False,Business Development
152,Ruth,Female,8/19/1999,4:03 AM,129297,8.067,True,Client Services
153,Victor,NaN,3/10/2011,8:40 PM,84546,10.489,True,Finance
155,Marie,Female,3/16/2003,12:12 AM,104058,17.695,True,Business Development
156,Howard,Male,4/27/1992,1:10 AM,105062,1.563,False,Human Resources
158,Norma,Female,2/28/1999,8:45 PM,114412,8.756,True,Marketing
159,James,NaN,11/22/1983,10:52 PM,68501,14.316,False,Marketing
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance
161,Marilyn,NaN,8/22/1999,9:09 AM,103386,11.451,False,Distribution
162,Arthur,Male,4/13/1998,11:28 AM,89786,14.422,True,Legal
163,Terry,Male,9/3/1990,9:15 PM,52226,19.135,False,Client Services
164,Mary,Female,8/13/1999,1:03 AM,134645,18.197,False,Business Development
165,NaN,Female,3/23/2014,1:28 PM,59148,9.061,True,Legal
166,NaN,Female,7/9/1991,6:52 PM,42341,7.014,True,Sales
167,Christopher,Male,12/24/2011,12:22 PM,142178,17.984,True,Sales
168,Peter,NaN,9/3/1987,5:59 PM,38989,7.017,True,Marketing
170,Irene,Female,1/29/1992,11:36 AM,133772,19.020,True,Sales
171,Patrick,Male,8/17/2007,3:16 AM,143499,17.495,True,Engineering
172,Sara,Female,9/23/1991,6:17 PM,97058,9.402,False,Finance
173,Lillian,Female,12/21/2008,6:51 PM,85446,3.959,True,Engineering
174,NaN,NaN,9/18/2007,6:59 PM,40297,6.185,True,Client Services
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
177,Wayne,Male,4/7/2012,8:00 AM,102652,14.085,True,Distribution
179,Jessica,Female,10/23/1995,5:53 AM,68759,19.343,True,Finance
180,Mark,Male,4/12/2008,5:40 PM,57286,5.025,True,Business Development
181,Randy,Male,11/14/1999,12:12 PM,58129,1.952,True,Distribution
182,Lillian,Female,6/19/1999,4:44 PM,123940,12.184,True,Business Development
183,Ruth,NaN,5/18/1999,5:56 AM,98233,2.518,True,Distribution
184,Jerry,Male,12/18/2003,6:46 AM,140810,9.177,True,Client Services
185,Sandra,Female,1/19/1983,7:25 AM,42090,8.842,True,Legal
186,NaN,Female,2/23/2005,9:50 PM,149654,1.825,True,Sales
187,Roger,Male,11/19/2004,3:55 PM,51430,6.460,False,Marketing
188,Charles,Male,10/14/2000,9:40 PM,71749,15.931,False,Legal
189,Clarence,Male,5/2/1998,3:16 AM,85700,1.215,False,Sales
190,Carol,Female,3/19/1996,3:39 AM,57783,9.129,False,Finance
191,Lois,Female,10/18/2013,4:51 PM,36946,6.652,False,Engineering
192,Barbara,NaN,5/3/2003,7:32 PM,99326,16.475,True,Legal
193,Rebecca,Female,2/18/1995,6:50 AM,109259,4.443,True,Legal
194,Irene,Female,1/30/2004,8:25 PM,131038,8.996,False,Distribution
196,Steven,Male,11/10/1985,10:53 AM,62719,19.127,False,Client Services
197,Carolyn,Female,11/6/2012,3:51 AM,69268,3.031,False,Client Services
200,Gary,Male,8/12/1987,12:04 AM,89661,8.525,False,Finance
201,Kimberly,Female,7/15/1997,5:57 AM,36643,7.953,False,Marketing
202,Roger,Male,11/8/1982,2:32 AM,140558,5.084,True,Sales
203,Diana,Female,1/4/2013,7:53 AM,103521,2.784,True,Business Development
204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing
205,Brandon,Male,3/27/2006,5:54 PM,115711,8.012,True,Finance
206,Patricia,Female,12/6/2012,4:01 AM,114079,8.399,True,Client Services
207,Katherine,Female,11/14/1999,8:15 AM,57531,1.767,False,Client Services
208,Jonathan,Male,10/12/1987,2:59 AM,141069,4.903,False,Human Resources
209,Emily,Female,9/20/2007,11:25 AM,89434,11.295,False,Engineering
210,Ruth,Female,8/12/1986,7:29 PM,44639,9.148,True,Legal
211,Linda,Female,6/24/2006,12:04 PM,110967,19.612,True,Human Resources
212,Lisa,Female,11/2/2009,9:42 AM,115387,1.821,False,Client Services
213,Evelyn,Female,5/24/1980,11:10 PM,81673,15.364,True,Engineering
214,Julie,Female,7/23/1989,1:52 PM,109588,3.550,False,Engineering
215,Mary,Female,5/30/2009,11:41 PM,92544,3.800,False,Client Services
216,Matthew,Male,7/31/2013,8:04 AM,142373,2.462,False,Marketing
217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services
218,Gregory,NaN,6/15/1992,5:08 AM,98865,10.628,True,Finance
219,Billy,Male,3/13/1995,12:05 PM,120444,7.768,True,Finance
220,NaN,Female,6/17/1991,12:49 PM,71945,5.560,True,Marketing
221,Gregory,Male,1/29/2000,6:01 AM,109564,3.845,False,Legal
222,Jason,Male,10/17/1999,10:09 PM,78417,3.067,False,Finance
223,Daniel,Male,4/30/2010,3:48 AM,106947,15.866,True,Legal
224,Sarah,Female,9/14/1995,7:50 AM,87298,2.311,False,Distribution
225,Harry,Male,10/1/2015,7:47 PM,64579,15.266,True,Sales
226,Kathy,Female,4/19/1995,12:46 AM,50905,9.404,True,Finance
227,Todd,Male,4/13/1999,10:31 AM,59728,11.226,True,Client Services
228,Bobby,Male,9/23/1994,1:29 AM,51685,17.445,True,Engineering
229,Jeremy,Male,6/8/2000,12:15 AM,49542,1.679,True,Distribution
230,George,NaN,2/24/1988,11:29 AM,38375,8.999,False,Legal
232,Marilyn,Female,4/4/1997,9:28 PM,147663,10.263,False,Human Resources
233,Kathryn,Female,2/4/2004,1:47 PM,73935,14.752,False,Sales
234,Irene,Female,2/4/1982,5:26 PM,40837,12.182,True,Client Services
235,Norma,Female,2/11/2015,11:44 PM,94393,3.643,True,Engineering
237,Cheryl,Female,9/23/2008,2:57 AM,52080,9.375,False,Legal
238,Kevin,Male,3/25/1982,7:31 AM,35061,5.128,False,Legal
239,Lillian,NaN,5/12/2016,3:43 PM,64164,17.612,False,Human Resources
240,Phyllis,NaN,4/21/1984,7:05 PM,94088,19.107,False,Distribution
241,Walter,Male,7/6/1983,11:54 PM,127813,5.961,False,Finance
242,Robert,Male,10/27/1990,7:15 PM,38041,18.428,True,Engineering
244,Clarence,Male,10/8/1996,12:53 PM,142561,8.866,False,Client Services
245,Victor,Male,4/11/1991,7:44 AM,70817,17.138,False,Engineering
246,Fred,NaN,12/2/1984,2:03 PM,59937,12.045,True,Human Resources
248,Justin,Male,12/6/1992,5:58 PM,82782,4.366,True,Distribution
249,Betty,Female,6/12/2002,3:59 AM,104896,19.550,True,Business Development
250,Randy,NaN,2/6/1986,3:04 PM,133943,8.940,True,Sales
251,Sharon,NaN,3/1/1990,3:46 AM,83658,6.513,False,Business Development
252,Ralph,Male,11/11/2004,1:35 AM,71896,4.232,True,Marketing
253,NaN,NaN,4/28/2003,3:01 AM,113732,10.391,True,Sales
254,Edward,Male,5/27/1985,10:13 PM,110485,7.995,False,Client Services
255,Denise,Female,3/20/2009,7:57 AM,115118,5.108,False,Human Resources
256,Debra,Female,3/13/1998,11:16 PM,48696,4.750,False,Legal
257,NaN,Male,11/25/1999,6:16 AM,42676,15.517,True,Sales
259,Henry,Male,2/6/1995,8:34 AM,89258,15.585,True,Human Resources
260,Gloria,Female,3/27/2007,1:44 AM,90730,2.491,False,Distribution
262,Anne,Female,7/16/1986,2:08 PM,69134,3.723,True,Engineering
263,Sarah,NaN,11/21/1985,1:08 PM,58295,14.603,True,Engineering
264,Stephanie,Female,3/24/1983,11:15 AM,50141,13.218,True,Human Resources
265,Roy,Male,9/23/2004,1:31 PM,101941,3.450,False,Client Services
266,NaN,Female,8/5/2009,8:14 AM,115145,14.063,True,Distribution
267,NaN,Male,2/4/2005,1:01 PM,40451,16.044,True,Distribution
268,Irene,Female,3/3/1982,8:26 AM,56526,5.810,True,Finance
269,NaN,Female,8/2/1992,8:35 PM,145316,18.517,True,Human Resources
270,Thomas,Male,4/6/2011,1:04 PM,103235,9.554,True,Human Resources
271,Frank,NaN,11/20/2001,10:18 AM,58563,12.062,True,Marketing
274,Howard,Male,10/5/1982,7:22 AM,97490,5.460,True,Marketing
275,Debra,Female,2/22/1994,10:25 PM,104250,18.456,True,Business Development
276,Christine,Female,7/3/1989,4:01 AM,94345,11.996,False,Finance
277,Brenda,NaN,5/29/1991,6:32 AM,82439,19.062,False,Sales
278,Betty,Female,6/28/2005,6:03 PM,51613,12.984,False,Distribution
279,Ruby,Female,11/8/2000,7:35 PM,105946,1.139,False,Business Development
280,Kevin,Male,7/12/1997,2:07 AM,46080,9.635,False,Business Development
281,Arthur,Male,1/1/2014,7:46 PM,134610,6.147,True,Human Resources
282,Carl,NaN,2/7/2014,3:57 AM,125104,12.345,False,Client Services
283,Todd,Male,3/11/2009,3:43 AM,107281,1.612,True,Engineering
284,Brenda,Female,10/6/2005,9:33 PM,141521,4.337,False,Client Services
285,Judy,Female,9/16/1997,12:10 AM,65931,2.304,False,Human Resources
286,Todd,Male,2/2/1984,10:13 AM,69989,10.985,True,Finance
287,Lois,Female,11/9/2011,7:06 AM,147183,9.999,True,Client Services
288,Walter,NaN,12/21/1999,10:33 PM,66757,18.099,False,Distribution
289,Jessica,Female,9/27/1985,1:35 PM,75145,6.388,True,Legal
291,Tammy,Female,11/11/1984,10:30 AM,132839,17.463,True,Client Services
292,Anne,Female,3/7/2000,6:45 AM,44537,18.284,True,Client Services
293,Jesse,Male,10/25/1999,3:35 PM,118733,9.653,False,Marketing
294,Virginia,Female,10/20/1999,6:23 AM,46905,19.154,False,Distribution
295,Jesse,Male,3/2/1981,7:26 PM,79582,3.873,False,Legal
296,Jeremy,NaN,11/10/1996,1:49 PM,55394,3.180,True,Sales
297,Daniel,Male,9/15/2007,10:16 PM,123811,7.664,True,Human Resources
298,Patrick,NaN,8/30/2004,11:43 AM,137314,4.542,True,Marketing
299,Emily,Female,1/13/1988,6:42 AM,36711,19.028,True,Human Resources
300,Alan,Male,6/26/1988,3:54 AM,111786,3.592,True,Engineering
301,James,Male,7/11/2015,8:52 PM,72257,13.023,False,Engineering
302,Adam,Male,7/5/2007,11:59 AM,71276,5.027,True,Human Resources
303,Joan,NaN,7/25/1980,12:22 PM,38712,3.657,False,Client Services
304,Jeremy,Male,8/12/1981,12:05 AM,46930,18.702,True,Finance
305,Margaret,Female,2/6/1993,1:05 PM,125220,3.733,False,Marketing
306,Mark,Male,4/1/1984,1:21 PM,121477,17.440,True,Business Development
307,Marilyn,Female,9/26/1981,2:23 AM,86386,2.937,False,Distribution
308,Cheryl,Female,9/8/2009,10:16 AM,81308,2.196,True,Legal
309,Benjamin,Male,9/11/1984,6:37 AM,84810,15.794,False,Marketing
310,Harold,Male,2/20/1990,11:00 PM,66775,2.158,True,Legal
311,Ernest,NaN,1/18/2002,1:51 AM,72145,13.448,True,Finance
312,Gerald,Male,4/16/2001,10:09 PM,121604,1.923,True,Sales
313,Judy,Female,7/1/1991,2:33 AM,109510,13.457,True,Legal
315,Bobby,NaN,9/1/1995,2:09 PM,108127,15.858,False,Client Services
317,Kathy,Female,12/18/2013,3:09 PM,132381,8.340,False,Business Development
318,Roy,Male,8/6/2006,7:52 AM,148225,1.841,False,Finance
319,Jacqueline,Female,11/25/1981,3:01 PM,145988,18.243,False,Marketing
320,NaN,Female,7/8/2008,11:40 PM,62960,14.356,True,Sales
321,Julie,Female,3/23/1986,9:26 AM,56926,7.507,False,Sales
323,Linda,Female,12/16/1990,2:20 AM,115658,3.041,True,Sales
324,Ruby,Female,12/10/1988,8:27 PM,76707,6.031,False,Business Development
325,Russell,Male,1/2/2005,1:48 AM,60388,17.885,False,Client Services
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
328,Samuel,Male,12/19/1991,2:54 AM,76076,5.319,True,Finance
329,NaN,Male,1/27/2010,2:57 AM,87760,14.987,True,Engineering
330,Randy,Male,3/16/2014,6:24 PM,135119,7.887,False,Client Services
331,Evelyn,Female,9/3/1983,1:58 PM,36759,17.269,True,Marketing
333,Shirley,Female,6/8/1986,2:25 AM,110061,7.494,False,Client Services
334,Todd,Male,5/23/2011,4:14 PM,85074,1.844,False,Client Services
335,Robert,Male,11/18/2014,5:00 AM,85799,19.930,False,Finance
336,Mark,Male,1/22/2007,2:37 PM,75150,12.182,True,Legal
337,Earl,Male,1/5/2000,5:46 PM,91344,4.035,True,Sales
339,Michael,Male,11/22/1991,12:57 PM,98753,16.443,True,Human Resources
340,Steven,Male,5/12/2009,2:14 PM,113060,2.846,True,Sales
341,Carlos,Male,9/19/2007,1:01 AM,77327,11.580,True,Finance
343,Ronald,Male,2/24/2009,2:09 PM,96633,4.990,True,Engineering
344,Scott,Male,5/12/2009,4:36 AM,58248,3.914,False,Business Development
345,Steven,Male,11/21/2006,8:30 AM,83706,6.960,True,Human Resources
346,James,Male,11/22/1998,3:48 AM,74086,5.778,True,Human Resources
347,Lori,Female,3/31/1988,10:59 PM,95389,14.223,False,Sales
348,Philip,Male,8/2/1989,11:21 AM,129968,19.897,False,Finance
349,Phyllis,Female,11/24/2005,11:57 PM,140347,8.723,False,Sales
350,Thomas,NaN,8/31/1995,8:31 PM,41549,3.950,False,Sales
351,Cynthia,Female,12/3/2012,11:03 PM,74287,10.751,False,Sales
352,NaN,Male,10/9/2011,9:29 AM,69906,4.844,True,Engineering
353,NaN,Male,4/22/1997,9:36 PM,65078,3.095,True,Marketing
354,Elizabeth,Female,11/10/2005,4:56 AM,106406,1.782,True,Legal
355,Andrea,Female,9/14/2003,10:30 PM,115913,12.121,False,Legal

In [25]:
df[df['Bonus %']<1.5]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
15,Lillian,Female,6/5/2016,6:09 AM,59414,1.256,False,Product
58,Theresa,Female,4/11/2010,7:18 AM,72670,1.481,True,Engineering
77,Charles,Male,9/14/2004,8:13 PM,107391,1.260,True,Marketing
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
189,Clarence,Male,5/2/1998,3:16 AM,85700,1.215,False,Sales
217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services
273,Nicholas,Male,4/12/1994,8:21 PM,74669,1.113,True,Product
279,Ruby,Female,11/8/2000,7:35 PM,105946,1.139,False,Business Development
365,Gloria,NaN,7/19/1983,1:57 AM,140885,1.113,False,Human Resources
445,Chris,Male,12/12/2006,1:57 AM,71642,1.496,False,NaN
481,NaN,Female,4/27/2013,6:40 AM,93847,1.085,True,Business Development
527,Helen,NaN,12/2/1993,1:42 PM,45724,1.022,False,Product
570,Kelly,Female,8/16/1996,3:09 AM,41427,1.431,False,Product
578,Amanda,Female,3/17/1982,11:46 PM,107111,1.438,True,Product
579,Harold,Male,10/18/2010,8:45 PM,65673,1.187,True,Legal
617,Kathy,Female,1/14/2001,5:11 AM,45682,1.451,True,Marketing
618,Peter,Male,11/24/1992,5:43 PM,69297,1.268,False,Finance
638,Frances,Female,11/12/1996,6:08 PM,112467,1.433,False,Business Development
652,Willie,Male,12/5/2009,5:39 AM,141932,1.017,True,Engineering
708,Steve,Male,1/11/2002,9:17 PM,51821,1.197,True,Legal
732,Henry,Male,5/12/1986,2:04 AM,59943,1.432,False,Finance
734,NaN,Female,12/18/1994,8:42 PM,138807,1.400,True,Human Resources
746,Gloria,Female,8/19/2004,10:31 AM,46602,1.027,True,Business Development
912,Joe,Male,12/8/1998,10:28 AM,126120,1.020,False,NaN
929,Theresa,Female,4/27/2001,9:17 PM,75661,1.079,True,Legal
954,Joe,Male,1/19/1980,4:06 PM,119667,1.148,True,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product

In [37]:
date = df['Start Date']<='1-20-1984'
df[date]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
10,Louise,Female,1980-08-12,9:01 AM,63241,15.132,True,NaN
12,Brandon,Male,1980-12-01,1:08 AM,112807,17.492,True,Human Resources
18,Diana,Female,1981-10-23,10:27 AM,132940,19.082,False,Client Services
28,Terry,Male,1981-11-27,6:30 PM,124008,13.464,True,Client Services
37,Linda,Female,1981-10-19,8:49 PM,57427,9.557,True,Client Services
43,Marilyn,Female,1980-12-07,3:16 AM,73524,5.207,True,Marketing
45,Roger,Male,1980-04-17,11:32 AM,88010,13.886,True,Sales
49,Chris,NaN,1980-01-24,12:13 PM,113590,3.055,False,Sales
78,Robin,Female,1983-06-04,3:15 PM,114797,5.965,True,Sales
82,Steven,Male,1980-03-30,9:20 PM,35095,8.379,True,Client Services
94,Harry,Male,1981-08-26,3:16 PM,130620,7.030,False,Legal
115,Pamela,Female,1982-07-01,6:51 AM,54585,4.166,False,Product
124,Marilyn,Female,1983-11-16,8:29 AM,76078,2.401,True,Product
140,Shirley,Female,1981-02-28,1:23 PM,113850,1.854,False,Marketing
144,Nicole,NaN,1982-03-05,2:28 PM,122717,12.452,False,Sales
154,Rebecca,Female,1980-11-15,4:13 AM,85730,5.359,True,Product
159,James,NaN,1983-11-22,10:52 PM,68501,14.316,False,Marketing
185,Sandra,Female,1983-01-19,7:25 AM,42090,8.842,True,Legal
202,Roger,Male,1982-11-08,2:32 AM,140558,5.084,True,Sales
213,Evelyn,Female,1980-05-24,11:10 PM,81673,15.364,True,Engineering
234,Irene,Female,1982-02-04,5:26 PM,40837,12.182,True,Client Services
238,Kevin,Male,1982-03-25,7:31 AM,35061,5.128,False,Legal
241,Walter,Male,1983-07-06,11:54 PM,127813,5.961,False,Finance
264,Stephanie,Female,1983-03-24,11:15 AM,50141,13.218,True,Human Resources
268,Irene,Female,1982-03-03,8:26 AM,56526,5.810,True,Finance
272,Fred,Male,1980-02-20,2:25 AM,74129,18.225,False,Product
274,Howard,Male,1982-10-05,7:22 AM,97490,5.460,True,Marketing
295,Jesse,Male,1981-03-02,7:26 PM,79582,3.873,False,Legal
303,Joan,NaN,1980-07-25,12:22 PM,38712,3.657,False,Client Services
304,Jeremy,Male,1981-08-12,12:05 AM,46930,18.702,True,Finance
307,Marilyn,Female,1981-09-26,2:23 AM,86386,2.937,False,Distribution
319,Jacqueline,Female,1981-11-25,3:01 PM,145988,18.243,False,Marketing
331,Evelyn,Female,1983-09-03,1:58 PM,36759,17.269,True,Marketing
365,Gloria,NaN,1983-07-19,1:57 AM,140885,1.113,False,Human Resources
368,Marilyn,Female,1982-12-17,12:10 PM,147183,8.748,False,Business Development
384,Jack,Male,1980-12-24,10:58 PM,106995,15.723,False,Product
411,Kevin,Male,1981-06-23,8:26 PM,134598,11.699,False,Business Development
417,Sarah,NaN,1981-08-31,2:51 PM,37748,9.047,False,Human Resources
418,Julia,Female,1982-03-02,12:52 PM,36403,2.664,True,Finance
423,Deborah,Female,1980-11-25,4:33 AM,46953,17.436,False,Client Services
427,Frank,Male,1981-01-10,1:30 PM,71853,8.037,True,Sales
456,Deborah,NaN,1983-02-03,11:38 PM,101457,6.662,False,Engineering
499,Barbara,NaN,1980-12-10,11:04 PM,90187,14.764,True,Distribution
502,Sarah,Female,1980-11-03,2:47 PM,37259,1.763,False,Client Services
505,NaN,Male,1980-04-20,1:17 PM,71520,13.248,True,Engineering
511,Joe,Male,1983-07-04,7:32 AM,62161,8.130,True,Business Development
521,NaN,NaN,1981-09-25,9:59 AM,83895,17.971,True,Engineering
523,Diane,Female,1982-07-05,4:56 PM,124889,15.026,True,Sales
528,Jimmy,NaN,1983-08-26,2:48 AM,86676,7.175,True,Product
535,Louise,Female,1981-09-18,5:47 AM,91462,8.205,False,Marketing
536,Clarence,Male,1982-08-26,9:47 AM,146589,4.905,True,Business Development
548,Janice,Female,1984-01-02,9:06 PM,41190,3.311,True,Sales
549,Sara,Female,1980-02-25,10:50 PM,75484,3.186,False,Finance
562,Sara,NaN,1983-10-07,1:35 PM,87713,18.863,True,Legal
567,NaN,Female,1980-04-01,8:04 PM,48141,12.605,True,NaN
569,Ruby,Female,1980-07-07,3:42 AM,101262,6.773,False,Client Services
573,Kimberly,Female,1981-12-30,4:51 AM,81800,5.435,True,NaN
578,Amanda,Female,1982-03-17,11:46 PM,107111,1.438,True,Product
582,Harry,Male,1982-11-19,11:25 AM,59277,10.200,False,Finance
587,Cheryl,Female,1982-07-23,6:28 AM,98841,8.945,True,Client Services
588,Cynthia,Female,1980-05-23,3:19 AM,78226,2.419,False,Human Resources
592,Justin,Male,1981-05-24,11:15 PM,78351,15.221,False,Sales
601,Christine,NaN,1980-06-15,6:00 PM,50366,9.862,True,Marketing
605,Rose,Female,1982-05-20,9:14 AM,97691,2.142,False,Client Services
606,Mildred,Female,1981-02-21,3:30 AM,47266,10.256,False,Client Services
607,NaN,Male,1983-10-13,11:59 PM,139754,12.740,True,Sales
611,Elizabeth,NaN,1981-02-16,3:58 AM,52730,12.525,False,Marketing
629,Debra,Female,1983-03-12,12:19 PM,74911,19.513,False,Marketing
656,Lisa,Female,1982-02-09,6:44 PM,113592,17.108,True,Marketing
669,Joseph,NaN,1982-03-28,1:05 PM,86564,11.879,True,NaN
672,Robert,Male,1982-11-05,12:41 PM,111580,10.982,False,Human Resources
689,Julie,NaN,1980-05-08,6:31 AM,50529,17.263,False,Finance
715,Peter,Male,1982-03-22,7:28 AM,77933,13.132,True,Engineering
720,Marie,Female,1983-04-08,2:01 PM,145988,18.685,True,Human Resources
739,Carlos,Male,1981-01-25,10:00 AM,138598,14.737,False,Sales
743,Steven,Male,1980-05-30,8:25 PM,100949,13.813,True,Human Resources
750,Louis,NaN,1983-02-05,6:39 PM,145274,16.379,False,Product
759,Ruth,Female,1980-09-02,6:52 AM,59678,10.895,False,Distribution
784,Stephanie,Female,1982-09-14,8:14 AM,96649,3.453,False,Sales
785,NaN,Female,1982-07-24,12:00 AM,57811,8.941,True,Marketing
791,Joseph,Male,1982-11-04,9:46 PM,126010,19.601,False,Legal
797,Rose,Female,1982-12-31,6:50 PM,145001,19.850,False,Engineering
808,Julie,Female,1980-03-08,5:13 AM,145357,3.459,False,Engineering
818,Ann,Female,1980-10-03,1:08 AM,96941,10.048,True,Distribution
821,NaN,Female,1980-12-27,2:27 AM,80399,12.254,True,Distribution
834,Carl,NaN,1982-02-11,7:54 AM,49325,2.071,True,Business Development
843,Louise,Female,1982-02-26,1:03 AM,106362,8.965,False,Sales
845,Brenda,Female,1981-01-03,6:01 PM,131131,11.682,False,Client Services
847,Nicole,NaN,1981-05-02,12:03 PM,41449,4.707,False,Finance
862,Ronald,Male,1983-05-25,10:05 AM,50426,18.536,True,Sales
877,NaN,Male,1980-09-05,7:36 AM,114896,13.823,True,Client Services
881,Ruby,Female,1980-01-28,11:08 PM,142868,6.318,False,Marketing
903,Heather,Female,1983-07-29,10:48 AM,47605,14.955,True,Human Resources
915,Todd,Male,1983-01-04,12:34 PM,115566,6.716,True,Client Services
950,Paula,Female,1983-05-21,11:42 AM,58423,10.833,False,Business Development
954,Joe,Male,1980-01-19,4:06 PM,119667,1.148,True,Finance
964,Bruce,Male,1980-05-07,8:00 PM,35802,12.391,True,Sales
978,Sean,Male,1983-01-17,2:23 PM,66146,11.178,False,Human Resources
982,Rose,Female,1982-04-06,10:43 AM,91411,8.639,True,Human Resources
983,John,Male,1982-12-23,10:35 PM,146907,11.738,False,Engineering
985,Stephen,NaN,1983-07-10,8:10 PM,85668,1.909,False,Legal
986,Donna,Female,1982-11-26,7:04 AM,82871,17.999,False,Marketing

In [38]:
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'])

In [41]:
time  = df['Last Login Time'] == '1:40 AM'
df[time]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
662,Katherine,Female,2000-12-19,2020-11-26 01:40:00,41643,4.659,True,Distribution