# Changing pandas Options with Methods

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.randint(0,100,[1000,50])

In [3]:
data

array([[26, 31, 50, ..., 76, 66, 58],
       [11, 93, 85, ..., 86, 93, 49],
       [25, 50, 98, ..., 71,  5, 73],
       ...,
       [ 0, 30, 39, ..., 24, 97,  8],
       [38, 54, 41, ..., 49, 34, 81],
       [72, 50, 64, ..., 57, 29, 31]])

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,26,31,50,7,69,80,13,36,22,14,...,44,29,25,75,26,0,75,76,66,58
1,11,93,85,79,61,71,85,44,47,28,...,60,70,86,66,89,90,8,86,93,49
2,25,50,98,16,67,93,89,17,47,82,...,88,3,35,88,90,99,52,71,5,73
3,32,32,0,96,18,12,20,9,20,86,...,91,57,73,2,98,37,56,42,53,59
4,60,68,12,53,74,15,65,81,73,94,...,24,56,84,95,29,83,80,26,28,0

In [15]:
pd.options.display.max_rows

16

In [14]:
pd.get_option('max_columns')

20

In [16]:
pd.get_option('max_rows')

16

In [17]:
pd.set_option('min_rows',16)

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,26,31,50,7,69,80,13,36,22,14,...,44,29,25,75,26,0,75,76,66,58
1,11,93,85,79,61,71,85,44,47,28,...,60,70,86,66,89,90,8,86,93,49
2,25,50,98,16,67,93,89,17,47,82,...,88,3,35,88,90,99,52,71,5,73
3,32,32,0,96,18,12,20,9,20,86,...,91,57,73,2,98,37,56,42,53,59
4,60,68,12,53,74,15,65,81,73,94,...,24,56,84,95,29,83,80,26,28,0
5,5,16,35,6,38,46,30,57,71,61,...,60,23,32,40,26,91,76,75,97,51
6,38,71,39,96,58,71,77,76,96,86,...,8,16,84,95,65,19,97,42,65,40
7,90,51,82,41,51,75,72,29,49,78,...,86,12,55,76,80,57,98,76,99,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,21,34,79,76,41,29,37,71,70,28,...,35,86,13,31,7,93,21,77,74,30
993,44,38,63,75,5,18,13,57,2,33,...,97,2,41,70,18,76,7,29,99,94
994,69,86,75,49,61,49,17,48,23,12,...,89,9,35,75,6,97,89,43,22,43
995,53,56,35,2,92,76,48,28,64,98,...,23,89,51,0,5,56,94,42,44,18
996,1,38,8,35,38,63,87,69,93,48,...,21,23,23,99,86,6,7,86,46,94
997,0,30,39,76,61,67,95,99,33,76,...,17,11,87,2,83,92,74,24,97,8
998,38,54,41,48,59,88,7,42,42,38,...,61,67,61,90,86,72,8,49,34,81
999,72,50,64,72,45,88,71,82,90,85,...,55,33,26,62,47,76,57,57,29,31

In [24]:
pd.set_option('max_columns',15)

In [25]:
df

     0   1   2   3   4   5   6   ...  43  44  45  46  47  48  49
0    26  31  50   7  69  80  13  ...  75  26   0  75  76  66  58
1    11  93  85  79  61  71  85  ...  66  89  90   8  86  93  49
2    25  50  98  16  67  93  89  ...  88  90  99  52  71   5  73
3    32  32   0  96  18  12  20  ...   2  98  37  56  42  53  59
4    60  68  12  53  74  15  65  ...  95  29  83  80  26  28   0
5     5  16  35   6  38  46  30  ...  40  26  91  76  75  97  51
6    38  71  39  96  58  71  77  ...  95  65  19  97  42  65  40
7    90  51  82  41  51  75  72  ...  76  80  57  98  76  99  31
..   ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
992  21  34  79  76  41  29  37  ...  31   7  93  21  77  74  30
993  44  38  63  75   5  18  13  ...  70  18  76   7  29  99  94
994  69  86  75  49  61  49  17  ...  75   6  97  89  43  22  43
995  53  56  35   2  92  76  48  ...   0   5  56  94  42  44  18
996   1  38   8  35  38  63  87  ...  99  86   6   7  86  46  94
997   0  30  39  76  61  67  95  ...   2  83  92  74  24  97   8
998  38  54  41  48  59  88   7  ...  90  86  72   8  49  34  81
999  72  50  64  72  45  88  71  ...  62  47  76  57  57  29  31

[1000 rows x 50 columns]

In [29]:
pd.reset_option('max_rows')

In [30]:
pd.get_option('max_row')

60

In [31]:
pd.reset_option('max_columns')

In [32]:
pd.get_option('max_columns')

20

In [33]:
pd.describe_option('max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

In [34]:
pd.describe_option('max_row')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]