# The precision Option

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(np.random.randn(5,5))

In [6]:
df

          0         1         2         3         4
0 -2.556776  0.400415  0.035845 -1.003964  1.733093
1 -0.272981  0.642693 -1.759985 -0.673216  1.038845
2  0.488163 -0.575318 -2.011128  1.060729 -1.261570
3  0.907023 -0.433414 -0.792512 -0.623149 -0.558439
4  0.735069 -0.314691 -0.404042 -1.547206 -0.566785

In [8]:
pd.get_option('precision')

6

In [9]:
pd.set_option('precision',2)

In [10]:
df

      0     1     2     3     4
0 -2.56  0.40  0.04 -1.00  1.73
1 -0.27  0.64 -1.76 -0.67  1.04
2  0.49 -0.58 -2.01  1.06 -1.26
3  0.91 -0.43 -0.79 -0.62 -0.56
4  0.74 -0.31 -0.40 -1.55 -0.57

In [11]:
pd.reset_option('precision')

In [12]:
df

          0         1         2         3         4
0 -2.556776  0.400415  0.035845 -1.003964  1.733093
1 -0.272981  0.642693 -1.759985 -0.673216  1.038845
2  0.488163 -0.575318 -2.011128  1.060729 -1.261570
3  0.907023 -0.433414 -0.792512 -0.623149 -0.558439
4  0.735069 -0.314691 -0.404042 -1.547206 -0.566785