# Set New Value for a Specific cell

In [1]:
import pandas as pd

In [9]:
%%HTML
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    table.dataframe td,table.dataframe th{
        border:1px solid black;
        background-color:white;
        padding:5px;
        font-family: 'Roboto', sans-serif;
    }
</style>

In [12]:
bond = pd.read_csv('../jamesbond.csv',index_col='Film')
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [13]:
bond.loc['Dr. No','Actor']

'Sean Connery'

In [14]:
bond.loc['Dr. No','Actor'] = 'Carry Minati'

In [17]:
bond.loc['Dr. No','Actor']

'Carry Minati'

In [18]:
bond.loc['Dr. No',['Box Office','Budget','Bond Actor Salary']]

Box Office           448.8
Budget                   7
Bond Actor Salary      0.6
Name: Dr. No, dtype: object

In [19]:
bond.loc['Dr. No',['Box Office','Budget','Bond Actor Salary']] = [4400000,7000000,6000000]

In [21]:
bond.loc['Dr. No']
bond.loc['Dr. No','Budget']

7000000.0