# Second Arguments to loc and iloc Accessors

In [3]:
import pandas as pd

In [17]:
bond  = pd.read_csv('../jamesbond.csv',index_col='Film')
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [18]:
bond.loc['Thunderball']

Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object

In [19]:
bond.loc['Thunderball','Director']

'Terence Young'

In [20]:
bond.loc['Casino Royale','Actor']

Film
Casino Royale    Daniel Craig
Casino Royale     David Niven
Name: Actor, dtype: object

In [21]:
bond.loc[['Casino Royale','From Russia with Love'],['Director','Actor']]

                              Director         Actor
Film
Casino Royale          Martin Campbell  Daniel Craig
Casino Royale               Ken Hughes   David Niven
From Russia with Love    Terence Young  Sean Connery

In [22]:
bond.loc['Goldfinger',['Director','Actor','Bond Actor Salary','Budget']]

Director             Guy Hamilton
Actor                Sean Connery
Bond Actor Salary             3.2
Budget                       18.6
Name: Goldfinger, dtype: object

In [23]:
bond.loc['Moonraker','Director':'Budget']

Director      Lewis Gilbert
Box Office              535
Budget                 91.5
Name: Moonraker, dtype: object

In [24]:
bond.loc['Moonraker':'Thunderball','Director':'Budget']

                                       Director  Box Office  Budget
Film
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3
Quantum of Solace                  Marc Forster       514.2   181.4
Skyfall                              Sam Mendes       943.5   170.2
Spectre                              Sam Mendes       726.7   206.3
The Living Daylights                  John Glen       313.5    68.8
The Man with the Golden Gun        Guy Hamilton       334.0    27.7
The Spy Who Loved Me              Lewis Gilbert       533.0    45.1
The World Is Not Enough           Michael Apted       439.5   158.3
Thunderball                       Terence Young       848.1    41.9

In [25]:
bond.loc[:'Moonraker',:'Box Office']

                       Year           Actor         Director  Box Office
Film
A View to a Kill       1985     Roger Moore        John Glen       275.2
Casino Royale          2006    Daniel Craig  Martin Campbell       581.5
Casino Royale          1967     David Niven       Ken Hughes       315.0
Diamonds Are Forever   1971    Sean Connery     Guy Hamilton       442.5
Die Another Day        2002  Pierce Brosnan     Lee Tamahori       465.4
Dr. No                 1962    Sean Connery    Terence Young       448.8
For Your Eyes Only     1981     Roger Moore        John Glen       449.4
From Russia with Love  1963    Sean Connery    Terence Young       543.8
GoldenEye              1995  Pierce Brosnan  Martin Campbell       518.5
Goldfinger             1964    Sean Connery     Guy Hamilton       820.4
Licence to Kill        1989  Timothy Dalton        John Glen       250.9
Live and Let Die       1973     Roger Moore     Guy Hamilton       460.3
Moonraker              1979     Roger Moore    Lewis Gilbert       535.0

In [26]:
bond.iloc[14]

Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object

In [28]:
bond.iloc[12, 2]

'Lewis Gilbert'

In [29]:
bond.iloc[14,2:5]

Director      John Glen
Box Office        373.8
Budget             53.9
Name: Octopussy, dtype: object

In [30]:
bond.iloc[3:10,1:5]

                                Actor         Director  Box Office  Budget
Film
Diamonds Are Forever     Sean Connery     Guy Hamilton       442.5    34.7
Die Another Day        Pierce Brosnan     Lee Tamahori       465.4   154.2
Dr. No                   Sean Connery    Terence Young       448.8     7.0
For Your Eyes Only        Roger Moore        John Glen       449.4    60.2
From Russia with Love    Sean Connery    Terence Young       543.8    12.6
GoldenEye              Pierce Brosnan  Martin Campbell       518.5    76.9
Goldfinger               Sean Connery     Guy Hamilton       820.4    18.6

In [32]:
bond.iloc[:10,:6]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2