# Setting Multiple values in Dataframe

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    table.dataframe td,table.dataframe th{
        border:1px solid black;
        background-color:white;
        padding:5px;
        font-family: 'Roboto', sans-serif;
    }
</style>

In [3]:
bond = pd.read_csv('../jamesbond.csv',index_col='Film')
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [12]:
actor = bond['Actor'] =='Sean Connery'

In [13]:
# bond[actor]['Actor'] = 'Carry Minati'

In [18]:
bond.loc[actor,'Actor'] = 'Carry Minati'
#We can pass a series object as an input to loc assessor