# Differences between Shared Methods

In [12]:
import pandas as pd

In [16]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
  background-color:white;
}
</style>

In [28]:
# rev = pd.read_csv('../revenue.csv')
rev = pd.read_csv('../revenue.csv',index_col='Date')
rev.head(4)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933
1/4/16       730          904    885

In [29]:
series = pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

In [35]:
series.sum()

6

In [36]:
rev.sum()
rev.sum(axis=1) #gives the sum of 1st row
rev.sum(axis='columns')

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64