# Select one column from a Dataframe

In [1]:
import pandas as pd

In [22]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
  background-color:white;
}
</style>

In [4]:
nba = pd.read_csv('../nba.csv')
nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [10]:
nba.Name
nba.Number
nba.Salary
# nba.Mail
Output = None

In [11]:
nba[['Name','Age','Salary']]

              Name   Age     Salary
0    Avery Bradley  25.0  7730337.0
1      Jae Crowder  25.0  6796117.0
2     John Holland  27.0        NaN
3      R.J. Hunter  22.0  1148640.0
4    Jonas Jerebko  29.0  5000000.0
..             ...   ...        ...
453   Shelvin Mack  26.0  2433333.0
454      Raul Neto  24.0   900000.0
455   Tibor Pleiss  26.0  2900000.0
456    Jeff Withey  26.0   947276.0
457            NaN   NaN        NaN

[458 rows x 3 columns]

In [17]:
nba["Name"]
nba["Salary"]

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [20]:
type(nba['Name'])

pandas.core.series.Series

In [26]:
nba['Name'].head(5)
nba.Name.head(5)

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object