# Create a series Object from a Dictionary

In [1]:
import pandas as pd
webster = {'Aardvark':'An animal',
           'Banana':'A delicious fruit',
           'Cyan':'A Color',
          }
pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A Color
dtype: object

In [5]:
bio_data = {
    'Name':'Somil Bichpuriya',
    'Age':21,
    'Skills':['C', 'C++', 'Python', 'Java', 'javaScript'],
    'City':'Kamptee'
}

pd.Series(bio_data)

Name                        Somil Bichpuriya
Age                                       21
Skills    [C, C++, Python, Java, javaScript]
City                                 Kamptee
dtype: object