# Timedeltas in a Dataset

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [22]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [23]:
orders = pd.read_csv('../ecommerce.csv',index_col='ID',parse_dates=['order_date','delivery_date'])

In [24]:
orders.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [25]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [26]:
orders['Delivery Time'] = orders['delivery_date'] - orders['order_date']

In [27]:
orders.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [28]:
orders['Twice as Long'] = orders['delivery_date'] + orders['Delivery Time']

In [29]:
orders

    order_date delivery_date Delivery Time Twice as Long
ID
1   1998-05-24    1999-02-05      257 days    1999-10-20
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
..         ...           ...           ...           ...
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
994 1993-06-03    1993-06-13       10 days    1993-06-23
997 1990-01-04    1991-10-03      637 days    1993-07-01

[501 rows x 4 columns]

In [30]:
orders.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as Long     datetime64[ns]
dtype: object

In [33]:
mask = orders['Delivery Time'] > '365 days'

In [34]:
orders[mask]

    order_date delivery_date Delivery Time Twice as Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [35]:
mask2 = orders['Delivery Time'] == '737 days'

In [36]:
orders[mask2]

    order_date delivery_date Delivery Time Twice as Long
ID
945 1992-10-27    1994-11-03      737 days    1996-11-09
986 1990-12-10    1992-12-16      737 days    1994-12-23

In [39]:
orders['Delivery Time'].max()

Timedelta('3583 days 00:00:00')

In [40]:
orders['Delivery Time'].min()

Timedelta('8 days 00:00:00')