# Import Financial Dataset with pandas_datareader Library

In [9]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [14]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [16]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')

In [17]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933

In [23]:
stocks.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.37393055e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.41053600e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.41131477e+01],
       ...,
       [2.27179993e+02, 2.23580002e+02, 2.26309998e+02, 2.24149994e+02,
        1.74032000e+07, 2.24149994e+02],
       [2.25630005e+02, 2.21470001e+02, 2.25229996e+02, 2.21679993e+02,
        2.02723000e+07, 2.21679993e+02],
       [2.23000000e+02, 2.19679993e+02, 2.21699997e+02, 2.22419998e+02,
        2.09269000e+07, 2.22419998e+02]])

In [24]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [25]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [29]:
stocks.value_counts()

High        Low         Open        Close       Volume      Adj Close
232.860001  227.350006  227.970001  231.649994  34080800.0  231.045105    1
34.549999   33.900002   34.230000   34.150002   51102700.0  29.101185     1
34.840000   34.360001   34.790001   34.610001   66047500.0  29.493187     1
34.810001   34.320000   34.340000   34.700001   29658800.0  29.569870     1
34.790001   34.340000   34.380001   34.540001   65545500.0  29.433527     1
                                                                         ..
68.480003   67.570000   68.139999   68.430000   31530300.0  64.546997     1
68.379997   67.580002   68.150002   68.269997   34971000.0  64.396065     1
68.309998   67.620003   68.080002   67.830002   26190800.0  63.981045     1
68.129997   67.139999   67.400002   67.709999   25201300.0  64.233940     1
23.320000   22.730000   23.090000   23.160000   92239400.0  18.204264     1
Length: 2770, dtype: int64

In [30]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2770, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]