# Selecting Rows from a DataFrame with a DatetimeIndex

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [3]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')

In [4]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933

In [9]:
stocks.loc['2010-01-04']

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.410536e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [10]:
stocks.loc[pd.Timestamp('2010-01-04')]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.410536e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [11]:
stocks.iloc[0]

High         3.099000e+01
Low          3.048000e+01
Open         3.098000e+01
Close        3.048000e+01
Volume       3.192970e+07
Adj Close    2.373931e+01
Name: 2009-12-31 00:00:00, dtype: float64

In [12]:
stocks.iloc[500]

High         2.604000e+01
Low          2.573000e+01
Open         2.591000e+01
Close        2.603000e+01
Volume       2.320580e+07
Adj Close    2.124549e+01
Name: 2011-12-23 00:00:00, dtype: float64

In [13]:
stocks.iloc[-50]

High         2.169200e+02
Low          2.131200e+02
Open         2.131200e+02
Close        2.148000e+02
Volume       2.272490e+07
Adj Close    2.142391e+02
Name: 2020-10-21 00:00:00, dtype: float64

In [14]:
stocks.iloc[20:40]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-02-01  28.480000  27.920000  28.389999  28.410000  85931100.0  22.127089
2010-02-02  28.500000  28.139999  28.370001  28.459999  54413700.0  22.166029
2010-02-03  28.790001  28.120001  28.260000  28.629999  61397900.0  22.298431
2010-02-04  28.500000  27.809999  28.379999  27.840000  77850000.0  21.683146
2010-02-05  28.280001  27.570000  28.000000  28.020000  80960100.0  21.823339
2010-02-08  28.080000  27.570000  28.010000  27.719999  52820600.0  21.589678
2010-02-09  28.340000  27.750000  27.969999  28.010000  59195800.0  21.815544
2010-02-10  28.240000  27.840000  28.030001  27.990000  48591300.0  21.799969
2010-02-11  28.400000  27.700001  27.930000  28.120001  65993700.0  21.901222
2010-02-12  28.059999  27.580000  27.809999  27.930000  81117200.0  21.753239
2010-02-16  28.370001  28.020000  28.129999  28.350000  51935600.0  22.183607
2010-02-17  28.650000  28.360001  28.530001  28.590000  45882900.0  22.371408
2010-02-18  29.030001  28.510000  28.590000  28.969999  42856500.0  22.668753
2010-02-19  28.920000  28.690001  28.790001  28.770000  44451800.0  22.512253
2010-02-22  28.940001  28.650000  28.840000  28.730000  36707100.0  22.480949
2010-02-23  28.830000  28.090000  28.680000  28.330000  52266200.0  22.167955
2010-02-24  28.790001  28.379999  28.520000  28.629999  43165900.0  22.402702
2010-02-25  28.650000  28.020000  28.270000  28.600000  48735300.0  22.379232
2010-02-26  28.850000  28.510000  28.650000  28.670000  40370600.0  22.434010
2010-03-01  29.049999  28.530001  28.770000  29.020000  43805400.0  22.707878

In [15]:
stocks.loc['2030-01-01']

KeyError: '2030-01-01'

In [17]:
stocks.iloc[10000]

IndexError: single positional indexer is out-of-bounds

In [22]:
# stocks.loc['2010-01-04','2010-01-05']
# stocks.loc[['2010-01-04','2010-01-05']]
stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2010-01-05')]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  24.113148

In [23]:
stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2040-01-05')]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: DatetimeIndex(['2040-01-05'], dtype='datetime64[ns]', name='Date', freq=None). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [24]:
stocks.iloc[[10,15,30,100000]]

IndexError: positional indexers are out-of-bounds

In [25]:
stocks.iloc[[10,15,30,100]]

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-15  31.240000  30.709999  31.080000  30.860001   79913200.0  24.035263
2010-01-25  29.660000  29.100000  29.240000  29.320000   63373000.0  22.835844
2010-02-16  28.370001  28.020000  28.129999  28.350000   51935600.0  22.183607
2010-05-26  26.610001  24.559999  26.230000  25.010000  176684100.0  19.658394

In [26]:
stocks.loc['2013-10-01':'2018-12-31']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-10-01,33.610001,33.299999,33.349998,33.580002,36718700.0,28.817102
2013-10-02,34.029999,33.290001,33.360001,33.919998,46946800.0,29.108875
2013-10-03,34.000000,33.419998,33.880001,33.860001,38703800.0,29.057384
2013-10-04,33.990002,33.619999,33.689999,33.880001,33008100.0,29.074543
2013-10-07,33.709999,33.200001,33.599998,33.299999,35069300.0,28.576813
...,...,...,...,...,...,...
2018-12-24,97.970001,93.980003,97.680000,94.129997,43935200.0,91.786125
2018-12-26,100.690002,93.959999,95.139999,100.559998,51634800.0,98.056015
2018-12-27,101.190002,96.400002,99.300003,101.180000,49498500.0,98.660576
2018-12-28,102.410004,99.519997,102.089996,100.389999,38196300.0,97.890251
2018-12-31,102.400002,100.440002,101.290001,101.570000,33173800.0,99.040863

In [27]:
stocks.iloc[0:100]

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000   31929700.0  23.739305
2010-01-04  31.100000  30.590000  30.620001  30.950001   38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999   49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000   58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001   50559700.0  23.715933
...               ...        ...        ...        ...          ...        ...
2010-05-19  28.690001  27.790001  28.520000  28.240000   61746700.0  22.197241
2010-05-20  27.840000  27.040001  27.650000  27.110001   87991100.0  21.309046
2010-05-21  27.110001  26.440001  26.629999  26.840000  117596300.0  21.096809
2010-05-24  26.860001  26.260000  26.850000  26.270000   73711700.0  20.648783
2010-05-25  26.330000  25.379999  25.650000  26.070000   98373600.0  20.491583

[100 rows x 6 columns]

In [29]:
stocks.truncate(before='2013-01-13',after='2014-01-04')

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-01-14  27.080000  26.760000  26.900000  26.889999  48324400.0  22.568110
2013-01-15  27.290001  26.830000  26.830000  27.209999  48244500.0  22.836672
2013-01-16  27.230000  27.010000  27.150000  27.040001  41077400.0  22.694002
2013-01-17  27.469999  27.059999  27.190001  27.250000  51685900.0  22.870243
2013-01-18  27.290001  27.040001  27.100000  27.250000  52167700.0  22.870243
...               ...        ...        ...        ...         ...        ...
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.243584
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  32.243584
2013-12-31  37.580002  37.220001  37.400002  37.410000  17503500.0  32.347324
2014-01-02  37.400002  37.099998  37.349998  37.160000  30632200.0  32.131168
2014-01-03  37.220001  36.599998  37.200001  36.910000  31134800.0  31.914997

[246 rows x 6 columns]

In [30]:
stocks.iloc[1000:1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-20  36.930000  36.189999  36.200001  36.799999  62649100.0  31.819893
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.664244
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  32.061996
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.373272
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.243584

In [38]:
mask1 = pd.date_range(start='1999-12-11',end='2020-12-11',freq = pd.DateOffset(years=1))

In [56]:
stocks[stocks.index.isin(mask1)]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-12-11,27.490000,27.049999,27.049999,27.320000,52282800.0,22.928997
2013-12-11,38.299999,37.389999,38.060001,37.610001,39853400.0,32.520279
2014-12-11,47.740002,46.680000,47.080002,47.169998,29060400.0,41.903358
2015-12-11,55.099998,54.009998,54.709999,54.060001,39549500.0,49.331478
2017-12-11,85.370003,84.120003,84.290001,85.230003,22857900.0,81.693512
2018-12-11,110.949997,107.440002,109.800003,108.589996,42381900.0,105.886063
2019-12-11,151.869995,150.330002,151.539993,151.699997,18856600.0,150.109772
2020-12-11,213.320007,209.110001,210.050003,213.259995,30979400.0,213.259995