# Timestamp Object Attributes and Methods

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [2]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [3]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')

In [4]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [7]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [8]:
someday.month

12

In [11]:
someday.weekday()

4

In [12]:
someday.week

51

In [13]:
someday.is_month_end

False

In [14]:
someday.is_quarter_start

False

In [15]:
someday.is_quarter_end

False

In [16]:
someday.is_month_start

False

In [18]:
someday.day

23

In [20]:
someday.month_name()

'December'

In [21]:
someday.day_name()

'Friday'

In [24]:
someday.year
someday.is_leap_year

False

In [26]:
stocks.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2770)

In [29]:
stocks.insert(loc=0,column='Day of week',value=stocks.index.day_name())

In [30]:
stocks

,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,222.750000
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,224.960007
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,224.149994
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,221.679993
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20926900.0,222.419998

In [34]:
stocks.insert(1,'Is start of month',stocks.index.is_month_start)

In [39]:
stocks[stocks['Is start of month']== True]

,Day of week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.127089
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.707878
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.817423
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.350094
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.204264
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,181.912857
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,203.673141
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25791200.0,226.676559
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,211.905228
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30931300.0,216.210007

In [40]:
stocks[stocks['Is start of month']]

,Day of week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.127089
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.707878
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.817423
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.350094
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.204264
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,181.912857
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,203.673141
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25791200.0,226.676559
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,211.905228
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30931300.0,216.210007