# The pd.DateOffset() object

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [31]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [32]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')

In [33]:
stocks.head(10)

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.879499
2010-01-11  30.760000  30.120001  30.709999  30.270000  68754700.0  23.575750
2010-01-12  30.400000  29.910000  30.150000  30.070000  65912100.0  23.419973
2010-01-13  30.520000  30.010000  30.260000  30.350000  51863500.0  23.638054
2010-01-14  31.100000  30.260000  30.309999  30.959999  63228100.0  24.113148

In [34]:
stocks['High'] + 2

Date
2009-12-31     32.990000
2010-01-04     33.100000
2010-01-05     33.100000
2010-01-06     33.080000
2010-01-07     32.700001
                 ...
2020-12-24    225.610001
2020-12-28    228.029999
2020-12-29    229.179993
2020-12-30    227.630005
2020-12-31    225.000000
Name: High, Length: 2770, dtype: float64

In [35]:
stocks.index + 2

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [36]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-05', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [37]:
stocks.index + pd.DateOffset(years = 2)

DatetimeIndex(['2011-12-31', '2012-01-04', '2012-01-05', '2012-01-06',
               '2012-01-07', '2012-01-08', '2012-01-11', '2012-01-12',
               '2012-01-13', '2012-01-14',
               ...
               '2022-12-17', '2022-12-18', '2022-12-21', '2022-12-22',
               '2022-12-23', '2022-12-24', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [40]:
stocks.index + pd.DateOffset(months = 2)

DatetimeIndex(['2010-02-28', '2010-03-04', '2010-03-05', '2010-03-06',
               '2010-03-07', '2010-03-08', '2010-03-11', '2010-03-12',
               '2010-03-13', '2010-03-14',
               ...
               '2021-02-17', '2021-02-18', '2021-02-21', '2021-02-22',
               '2021-02-23', '2021-02-24', '2021-02-28', '2021-02-28',
               '2021-02-28', '2021-02-28'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [41]:
stocks.index + pd.DateOffset(hours = 2)

DatetimeIndex(['2009-12-31 02:00:00', '2010-01-04 02:00:00',
               '2010-01-05 02:00:00', '2010-01-06 02:00:00',
               '2010-01-07 02:00:00', '2010-01-08 02:00:00',
               '2010-01-11 02:00:00', '2010-01-12 02:00:00',
               '2010-01-13 02:00:00', '2010-01-14 02:00:00',
               ...
               '2020-12-17 02:00:00', '2020-12-18 02:00:00',
               '2020-12-21 02:00:00', '2020-12-22 02:00:00',
               '2020-12-23 02:00:00', '2020-12-24 02:00:00',
               '2020-12-28 02:00:00', '2020-12-29 02:00:00',
               '2020-12-30 02:00:00', '2020-12-31 02:00:00'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [50]:
stocks.index + pd.DateOffset(minutes = 2,days=2,hours= 2,seconds=12,years= 1)

DatetimeIndex(['2011-01-02 02:02:12', '2011-01-06 02:02:12',
               '2011-01-07 02:02:12', '2011-01-08 02:02:12',
               '2011-01-09 02:02:12', '2011-01-10 02:02:12',
               '2011-01-13 02:02:12', '2011-01-14 02:02:12',
               '2011-01-15 02:02:12', '2011-01-16 02:02:12',
               ...
               '2021-12-19 02:02:12', '2021-12-20 02:02:12',
               '2021-12-23 02:02:12', '2021-12-24 02:02:12',
               '2021-12-25 02:02:12', '2021-12-26 02:02:12',
               '2021-12-30 02:02:12', '2021-12-31 02:02:12',
               '2022-01-01 02:02:12', '2022-01-02 02:02:12'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [51]:
stocks.index = stocks.index - pd.DateOffset(days=4)

In [52]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-27,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2009-12-31,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-01,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-02,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-03,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...
2020-12-20,223.610001,221.199997,221.419998,222.750000,10550600.0,222.750000
2020-12-24,226.029999,223.020004,224.449997,224.960007,17933500.0,224.960007
2020-12-25,227.179993,223.580002,226.309998,224.149994,17403200.0,224.149994
2020-12-26,225.630005,221.470001,225.229996,221.679993,20272300.0,221.679993
2020-12-27,223.000000,219.679993,221.699997,222.419998,20926900.0,222.419998

In [53]:
stocks.index = stocks.index + pd.DateOffset(days=4)

In [54]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.739305
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.105360
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.113148
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,23.965164
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.715933
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.750000
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,224.960007
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,224.149994
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,221.679993
2020-12-31,223.000000,219.679993,221.699997,222.419998,20926900.0,222.419998

In [55]:
stocks.index + pd.DateOffset(weeks = 5)

DatetimeIndex(['2010-02-04', '2010-02-08', '2010-02-09', '2010-02-10',
               '2010-02-11', '2010-02-12', '2010-02-15', '2010-02-16',
               '2010-02-17', '2010-02-18',
               ...
               '2021-01-21', '2021-01-22', '2021-01-25', '2021-01-26',
               '2021-01-27', '2021-01-28', '2021-02-01', '2021-02-02',
               '2021-02-03', '2021-02-04'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [56]:
stocks.index + pd.DateOffset(weeks=1) - pd.DateOffset(months = 1)

DatetimeIndex(['2009-12-07', '2009-12-11', '2009-12-12', '2009-12-13',
               '2009-12-14', '2009-12-15', '2009-12-18', '2009-12-19',
               '2009-12-20', '2009-12-21',
               ...
               '2020-11-24', '2020-11-25', '2020-11-28', '2020-11-29',
               '2020-11-30', '2020-11-30', '2020-12-04', '2020-12-05',
               '2020-12-06', '2020-12-07'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [57]:
stocks[1:10].index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)