# Timeseries Offsets

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [3]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        border:1px solid black;
        background-color:white;
    }

</style>

In [14]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-12-31')

In [13]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,7.619643,7.520000,7.611786,7.526071,352410800.0,6.492369
2010-01-04,7.660714,7.585000,7.622500,7.643214,493729600.0,6.593423
2010-01-05,7.699643,7.616071,7.664286,7.656429,601904800.0,6.604822
2010-01-06,7.686786,7.526786,7.656429,7.534643,552160000.0,6.499765
2010-01-07,7.571429,7.466071,7.562500,7.520714,477131200.0,6.487749
...,...,...,...,...,...,...
2020-12-24,133.460007,131.100006,131.320007,131.970001,54930100.0,131.970001
2020-12-28,137.339996,133.509995,133.990005,136.690002,124486200.0,136.690002
2020-12-29,138.789993,134.339996,138.050003,134.869995,121047300.0,134.869995
2020-12-30,135.990005,133.399994,135.580002,133.720001,96452100.0,133.720001
2020-12-31,134.740005,131.720001,134.080002,132.690002,98990400.0,132.690002

In [15]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [16]:
stocks.index + pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['2010-03-01', '2010-03-01', '2010-03-01', '2010-03-01',
               '2010-03-01', '2010-03-01', '2010-03-01', '2010-03-01',
               '2010-03-01', '2010-03-01',
               ...
               '2021-03-01', '2021-03-01', '2021-03-01', '2021-03-01',
               '2021-03-01', '2021-03-01', '2021-03-01', '2021-03-01',
               '2021-03-01', '2021-03-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [18]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [19]:
stocks.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.750000
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,224.960007
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,224.149994
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,221.679993
2020-12-31,223.000000,219.679993,221.699997,222.419998,20926900.0,222.419998

In [21]:
from pandas.tseries import offsets

In [22]:
stocks.index - offsets.QuarterBegin()

DatetimeIndex(['2009-12-01', '2009-12-01', '2009-12-01', '2009-12-01',
               '2009-12-01', '2009-12-01', '2009-12-01', '2009-12-01',
               '2009-12-01', '2009-12-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [27]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)

In [28]:
stocks.index - offsets.YearEnd()

DatetimeIndex(['2008-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2770, freq=None)