# The pandas Timestamp Object

In [2]:
import pandas as pd
import datetime as dt

In [22]:
# time = pd.Timestamp('2012/12/10 21:34:20')
time = pd.Timestamp('2012-12-9 4:54:11')
time.month
time.day
time.year
time.hour
time.minute
time.second

11

In [34]:
pd.Timestamp('2012, 12, 19')
pd.Timestamp('2019, Nov, 20')
pd.Timestamp('1/1/2015')
pd.Timestamp('19/1/2014')
pd.Timestamp('1/18/2014')
pd.Timestamp('2012/1/1')

Timestamp('2012-01-01 00:00:00')

In [36]:
# pd.Timestamp('2014, April, 21 4:34:29 AM')
pd.Timestamp('2014, April, 21 4:34:29 pM')

Timestamp('2014-04-21 16:34:29')

In [37]:
pd.Timestamp(dt.date(2013,4,5))

Timestamp('2013-04-05 00:00:00')

In [40]:
pd.Timestamp(dt.datetime(2013,4,5,4,13,51))

Timestamp('2013-04-05 04:13:51')