# The pd.to_datetime() Method

In [2]:
import pandas as pd
import datetime as dt

In [15]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2003,1,1))
pd.to_datetime(dt.datetime(2015,2,18,14,34,25))
pd.to_datetime(['2020-01-01','2014/12/14','2020','July 4th 1999','31th Dec, 2020'])

DatetimeIndex(['2020-01-01', '2014-12-14', '2020-01-01', '1999-07-04',
               '2020-12-31'],
              dtype='datetime64[ns]', freq=None)

In [20]:
times = ['2020-01-01','2014/12/14','2020','July 4th 1999','31th Dec, 2020']
times

['2020-01-01', '2014/12/14', '2020', 'July 4th 1999', '31th Dec, 2020']

In [23]:
times = pd.to_datetime(times)
times

DatetimeIndex(['2020-01-01', '2014-12-14', '2020-01-01', '1999-07-04',
               '2020-12-31'],
              dtype='datetime64[ns]', freq=None)

In [26]:
pd.Series(data = times)

0   2020-01-01
1   2014-12-14
2   2020-01-01
3   1999-07-04
4   2020-12-31
dtype: datetime64[ns]

In [36]:
dates = pd.Series(['July 4th, 1996','10/04/1991','Hello','2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [44]:
# errors value -> ignore,raise,coerce
# raise-> generated errors will be displayed
# coerce -> similar to NaN, in this case not a time 'NaT'
# ignore -> generated error will not be shown
pd.to_datetime(dates,errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [48]:
pd.to_datetime([1609504069,1002854335,1213163529,1735521435,1591305958],unit='s')

DatetimeIndex(['2021-01-01 12:27:49', '2001-10-12 02:38:55',
               '2008-06-11 05:52:09', '2024-12-30 01:17:15',
               '2020-06-04 21:25:58'],
              dtype='datetime64[ns]', freq=None)