# The .dt Accessor

In [31]:
import pandas as pd

In [32]:
bunch_of_dates = pd.date_range(start='2000-01-01',end='2010-12-31',freq='24D')

In [33]:
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [34]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [35]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [36]:
s.dt.month_name()

0        January
1        January
2       February
3          March
4          April
         ...
163    September
164      October
165     November
166     November
167     December
Length: 168, dtype: object

In [28]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [41]:
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [45]:
mask1 = s.dt.is_quarter_end

In [46]:
s[mask1]

57   2003-09-30
dtype: datetime64[ns]

In [47]:
mask2 = s.dt.is_month_start

In [48]:
s[mask2]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [49]:
mask3 = s.dt.is_month_end

In [50]:
s[mask3]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]